<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Mikrotypografie</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        V&nbsp;moderních <a href="../ruzne-podoby-texu/#kompilatory-texu">implementacích 
        kompilátoru TeXu</a> máte možnost používat i&nbsp;mikrotypografická 
        rozšíření známá např. 
        z&nbsp;<a href="#hz-program-v-indesign">HZ-programu</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="hz-program-v-indesign">
            HZ-program v&nbsp;Adobe InDesign
        </span>
    </h2>
    <p>
        Některé myšlenky 
        <a href="https://en.wikipedia.org/wiki/Hz-program">HZ-programu</a> 
        byly implementovány 
        v&nbsp;<a href="https://en.wikipedia.org/wiki/Desktop_publishing">DTP</a> 
        systému <a href="https://www.adobe.com/products/indesign.html">Adobe InDesign</a>.
    </p>
    <p>
        Přečtěte si <a href="files/InDesign.pdf">popis implementace</a> 
        a&nbsp;prohlédněte si <a href="files/highlighted.pdf">praktickou 
        ukázku</a> (<a href="files/plain.pdf">k dispozici je i&nbsp;verze bez 
        anotací</a>) a&nbsp;<a href="files/kerning.pdf">příklady rozdílů 
        kerningu</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="microtype">
            Balíček <tt>microtype</tt>
        </span>
    </h2>
    <p>
        V&nbsp;moderních
        <a href="../ruzne-podoby-texu/#kompilatory-texu">TeXových
        kompilátorech</a> jsou dostupná mikrotypografická rozšíření,
        která vychází z&nbsp;HZ-programu. V&nbsp;případě zájmu si můžete přečíst
        <a href="http://www.pragma-ade.nl/pdftex/thesis.pdf">dizertační
        práci Hàn Thế Thànha</a>, ve které je popsána historicky první
        implementace mikrotypografických rozšíření do TeXového kompilátoru.
        Tato mikrotypografická rozšíření můžeme snadno využívat pomocí
        LaTeXového balíčku <a href="https://www.ctan.org/pkg/microtype">
        <tt>microtype</tt></a>, jehož použití demonstruje dokument
        <a href="files/hz.tex"><tt>hz.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/zqywjrmydfyr">službě Overleaf</a>):
        <code class="ukazka_kodu">
            pdflatex <a href="files/hz.tex">hz.tex</a>
        </code>
        Informace o&nbsp;podpoře jednotlivých mikrotypografických rozšíření
        v&nbsp;různých <a href="../ruzne-podoby-texu/#kompilatory-texu">TeXových
        kompilátorech</a> poskytuje tabulka v&nbsp;sekci 3.1
        <a href="http://mirrors.ctan.org/macros/latex/contrib/microtype/microtype.pdf">manuálu
        k&nbsp;balíčku <tt>microtype</tt></a>.
    </p>
    <p>
        Stojí za zmínku, že na rozdíl od HZ-programu nepodporují ani
        moderní TeXové stroje optický kerning znaků. Toto souvisí s&nbsp;návrhem
        TeXu, který na znaky nahlíží jako na obdélníky zadaných rozměrů.
        O&nbsp;obsahu těchto obdélníků nemá TeX žádné informace
        a&nbsp;nemůže tedy provádět úpravu kerningových párů na základě
        geometrie jednotlivých symbolů.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Použijte mikrotypografická rozšíření implementovaná balíčkem 
            <tt>microtype</tt> při sazbě
            <a href="../../finalwork/#tex">svého prvního zápočtového 
            dokumentu</a>.
        </li>
        <li>
            <a href="http://ftp.cstug.cz/pub/tex/CTAN/macros/latex/contrib/microtype/microtype.pdf">Dokumentaci 
            balíčku <tt>microtype</tt></a> si otevřete <em>v&nbsp;programu 
            Adobe Reader</em> a&nbsp;v&nbsp;úvodní kapitole
            <a href="https://mirrors.nic.cz/tex-archive/macros/latex/contrib/microtype/microtype.pdf#section.1">
            <em>Micro-typography with TeX</em></a> (na straně 3)
            si vyzkoušejte interaktivní ukázku jeho účinku na vysázený text.
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
