.hll { background-color: #ffffcc }
.pygments_c { color: #aaaaaa; font-style: italic } /* Comment */
.pygments_err { color: #FF0000; background-color: #FFAAAA } /* Error */
.pygments_k { color: #0000aa } /* Keyword */
.pygments_cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.pygments_cp { color: #4c8317 } /* Comment.Preproc */
.pygments_c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.pygments_cs { color: #0000aa; font-style: italic } /* Comment.Special */
.pygments_gd { color: #aa0000 } /* Generic.Deleted */
.pygments_ge { font-style: italic } /* Generic.Emph */
.pygments_gr { color: #aa0000 } /* Generic.Error */
.pygments_gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygments_gi { color: #00aa00 } /* Generic.Inserted */
.pygments_go { color: #888888 } /* Generic.Output */
.pygments_gp { color: #555555 } /* Generic.Prompt */
.pygments_gs { font-weight: bold } /* Generic.Strong */
.pygments_gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygments_gt { color: #aa0000 } /* Generic.Traceback */
.pygments_kc { color: #0000aa } /* Keyword.Constant */
.pygments_kd { color: #0000aa } /* Keyword.Declaration */
.pygments_kn { color: #0000aa } /* Keyword.Namespace */
.pygments_kp { color: #0000aa } /* Keyword.Pseudo */
.pygments_kr { color: #0000aa } /* Keyword.Reserved */
.pygments_kt { color: #00aaaa } /* Keyword.Type */
.pygments_m { color: #009999 } /* Literal.Number */
.pygments_s { color: #aa5500 } /* Literal.String */
.pygments_na { color: #1e90ff } /* Name.Attribute */
.pygments_nb { color: #00aaaa } /* Name.Builtin */
.pygments_nc { color: #00aa00; text-decoration: underline } /* Name.Class */
.pygments_no { color: #aa0000 } /* Name.Constant */
.pygments_nd { color: #888888 } /* Name.Decorator */
.pygments_ni { color: #880000; font-weight: bold } /* Name.Entity */
.pygments_nf { color: #00aa00 } /* Name.Function */
.pygments_nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
.pygments_nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.pygments_nv { color: #aa0000 } /* Name.Variable */
.pygments_ow { color: #0000aa } /* Operator.Word */
.pygments_w { color: #bbbbbb } /* Text.Whitespace */
.pygments_mf { color: #009999 } /* Literal.Number.Float */
.pygments_mh { color: #009999 } /* Literal.Number.Hex */
.pygments_mi { color: #009999 } /* Literal.Number.Integer */
.pygments_mo { color: #009999 } /* Literal.Number.Oct */
.pygments_sb { color: #aa5500 } /* Literal.String.Backtick */
.pygments_sc { color: #aa5500 } /* Literal.String.Char */
.pygments_sd { color: #aa5500 } /* Literal.String.Doc */
.pygments_s2 { color: #aa5500 } /* Literal.String.Double */
.pygments_se { color: #aa5500 } /* Literal.String.Escape */
.pygments_sh { color: #aa5500 } /* Literal.String.Heredoc */
.pygments_si { color: #aa5500 } /* Literal.String.Interpol */
.pygments_sx { color: #aa5500 } /* Literal.String.Other */
.pygments_sr { color: #009999 } /* Literal.String.Regex */
.pygments_s1 { color: #aa5500 } /* Literal.String.Single */
.pygments_ss { color: #0000aa } /* Literal.String.Symbol */
.pygments_bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.pygments_vc { color: #aa0000 } /* Name.Variable.Class */
.pygments_vg { color: #aa0000 } /* Name.Variable.Global */
.pygments_vi { color: #aa0000 } /* Name.Variable.Instance */
.pygments_il { color: #009999 } /* Literal.Number.Integer.Long */
