@media only screen and (max-width: 44em) {
  body {
    padding: 0 !important;
  }
}
body {
	min-width: 40em;
	margin: auto;
	padding: 0em 2em;
	background-color: #ffcc7f;
	font-family: sans-serif, serif;
	color: #000000;
}
#header {
	position: relative;
	top: 0em;
	min-width: 36em;
	max-width: 62em;
	height: 5em;
	margin: 0em auto;
	padding: 1em;
	background-color: #000000;
	color: #ffffff;
}
#header h1 {
	margin: auto;
}
#logo-img {
	height: 2em;
	width: 2em;
}
.logo-text {
	position: relative;
	min-width: 36em;
	max-width: 62em;
	top: 0.5em;
}
#content {
	position: relative;
	min-width: 36em;
	max-width: 64em;
	height: auto;
	min-height: 15em;
	margin: 0em auto;
	background-color: #fff3e0;
	color: #000000;
}
#text {
	position: relative;
	margin: 0em;
	padding: 1em 12.8em 1em 1em;
}
#text h3 {
	font-size: 100%;
}
#text p {
	text-indent: 1.5em;
}
#text #citation {
	text-indent: 0em;
}
#text a {
	background-color: #fff3e0;
	color: #996b00;
}
#text a:hover {
	background-color: #fff3e0;
	color: #ff6600;
}
#text .prvni_element_na_strance {
	margin-top: 0em;
}
#text p.lecture_description {
	text-indent: 0em;
}
#text p.practice_description {
	text-indent: 0em;
}
#text li p {
	text-indent: 0em;
}
.mininavigace {
	margin: 3em 0em 0em 0em;
	padding: 0em;
	background-color: #fff3e0;
	font-size: 60%;
	color: #444444;
	text-align: right;
}
.mirror {
	margin: 1em 0em 0em 0em;
	padding: 0em;
	background-color: #fff3e0;
	font-size: 60%;
	color: #444444;
	text-align: right;
}
.blok_odkazu {
	padding: 0em 1.5em;
}
.blok_odkazu ul li,
.blok_odkazu ol li {
	padding: 0.3em 0.5em;
}
#text ul li,
#text ol li {
	padding: 0.3em 0.0em;
}
#menu {
	position: absolute;
	top: 0em;
	right: 0em;
	width: 12em;
	height: 100%;
	margin: 0em;
	padding: 0.5em;
	background-color: #ffb200;
	font-size: 90%;
	font-weight: bold;
	color: #000000;
}
#menu h2, #menu p, #menu ul {
	margin: 0em;
	padding: 0em;
}
.week + .week {
    border-top:  1px dashed #000;
    padding-top: 0.5em;
    margin-top:  1.5em;
}
.lecture_resources h5,
.lecture_resources ul,
.lecture_resources li {
	margin: 0em;
	padding: 0em;
	display: inline-block;
}
.lecture_resources h5 {
	font-size: 80%;
}
#menu li {
	margin: 0.2em 0.3em;
	list-style: none;
}
#menu li li {
	margin: 0.1em 0em 0.1em 1em;
	list-style: circle;
}
#menu a {
	background-color: #ffb200;
	color: #804d00;
	text-decoration: none;
}
#menu a:hover {
	background-color: #ffb200;
	color: #ff6600;
	text-decoration: none;
}
.odsazeni1 {
	margin-left: 0.4em;
}
.odsazeni2 {
	margin-left: 0.8em;
}
.odsazeni3 {
	margin-left: 1.2em;
}
#footer {
	position: relative;
	bottom: 0em;
	min-width: 36em;
	max-width: 62em;
	height: auto;
	min-height: 31px;
	margin: 0em auto;
	padding: 1em;
	background-color: #000000;
	color: #dddddd;
}
#footer p {
	margin: 0em;
	padding: 0em;
}
#footer a {
	background-color: #000000;
	color: #dddddd;
}
#footer a:hover {
	background-color: #000000;
	color: #ffffff;
}
#footerLogos {
	float: left;
	font-size: 80%;
}
#footerLogos img {
	width:88px;
	height:31px;
}
#pageinfo {
	font-size: 80%;
	text-align: right;
}
#text a[href*="overleaf.com"] {
  color: #138a07 !important;
}
