h1 {
	color: yellow;
	background-color: #000000;
}

section h1 {
	color: white;
	text-align: right;
}

#objectives {
	outline: 0.1em dotted black;
}

.role {
	outline: 0.1em dotted blue;
}

#objectives p {
	text-indent: 1.5em;
}
