section h1, #extent, #objectives, .role {
	display: none;
}

#code {
	display: block;
	color: white;
	background-color: #000000;
}

#teachers ul {
	margin: 0em;
	padding: 0em;
	font-size: 150%;
}

#teachers li {
	display: inline-block;
}
