<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Jazyky CSS a JavaScript</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Jazyk <a href="../html">(X)HTML</a> slouží k popisu struktury webových
        stránek. Dnes si představíme jazyky
        <a href="http://www.w3.org/Style/CSS/">CSS</a> a
        <a href="https://www.w3.org/standards/webdesign/script">JavaScript</a>,
        pomocí kterých můžeme popsat formu webové stránky a vytvářet
        interaktivní prvky.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="css">
            CSS
        </span>
    </h2>
    <p>
        <a href="http://www.w3.org/Style/CSS/">Cascading Style Sheets 
        (CSS)</a> je jazyk pro popis zobrazení elementů elektronických 
        dokumentů v&nbsp;jazycích <a href="../html">(X)HTML</a> nebo 
        <a href="../xml">XML</a>.
        Vzhled je možné definovat pro jednotlivé elementy v&nbsp;dokumentu, 
        případně pro objekty s&nbsp;přiřazeným určitým identifikátorem 
        (hodnotou atributu <tt>id</tt> na daném elementu), či příslušností 
        k&nbsp;jisté třídě objektů (tj. s&nbsp;jistou hodnotou atributu <tt>class</tt> 
        na daném elementu).
    </p>
    <p>
        Pravidla jsou definována kaskádově. Tzn. každá definice vzhledu je na
        vyhovujícím elementu uplatňována, pokud není daná vlastnost
        předefinována nějakým více specifickým nebo pozdějším pravidlem, do
        jehož působnosti daný prvek dokumentu spadá. Díky tomu je možné styly
        budovat hierarchicky, tj. aplikovat na všechny elementy společná
        základní pravidla pro zobrazení, která budou v&nbsp;konkrétních
        případech „přebita“ specifičtějším nebo později definovaným pravidlem.
        Příkladem budiž <a href="../html/files/sample-1.css">stylopis</a> pro
        <a href="../html/files/sample-1.html">(X)HTML dokument</a>
        z <a href="../html/">minulého cvičení</a>, kde je vlastnost <code>color</code> pro elementy
        odpovídající pravidlu <code>h1</code> přepsána specifičtějším pravidlem
        pro elementy odpovídající pravidlu <code>section h1</code>:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline ../html/files/sample-1.css -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_nt">h1</span> <span class="pygments_p">{</span>
<span class="lineno"> 2 </span><span>	<span class="pygments_nb">color</span><span class="pygments_o">:</span> <span class="pygments_nb">yellow</span><span class="pygments_p">;</span>
</span><span class="lineno"> 3 </span>	<span class="pygments_nb">background-color</span><span class="pygments_o">:</span> <span class="pygments_m">#000000</span><span class="pygments_p">;</span>
<span class="lineno"> 4 </span><span class="pygments_p">}</span>
<span class="lineno"> 5 </span>
<span class="lineno"> 6 </span><span class="pygments_nt">section</span> <span class="pygments_nt">h1</span> <span class="pygments_p">{</span>
<span class="lineno"> 7 </span><span>	<span class="pygments_nb">color</span><span class="pygments_o">:</span> <span class="pygments_nb">white</span><span class="pygments_p">;</span>
</span><span class="lineno"> 8 </span>	<span class="pygments_nb">text-align</span><span class="pygments_o">:</span> <span class="pygments_nb">right</span><span class="pygments_p">;</span>
<span class="lineno"> 9 </span><span class="pygments_p">}</span>
</pre></div>
    <p>
        Oddělení popisu vzhledu stránky pomocí CSS je vhodné využít 
        k&nbsp;odlišné prezentaci obsahu při různém způsobu použití. Jak si můžete 
        všimnout např. v&nbsp;hlavičce zdrojového textu této stránky, obsahuje 
        samostatnou sadu CSS pro zobrazení na obrazovce elektronického 
        zařízení a&nbsp;pro tisk:
    </p>
<div class="ukazka_kodu"><pre>
  <span class="pygments_nt">&lt;link</span> <span class="pygments_na">rel=</span><span class="pygments_s">&quot;stylesheet&quot;</span> <span class="pygments_na">href=</span><span class="pygments_s">&quot;<a href="../../css/all.css">../../css/all.css</a>&quot;</span> <span class="pygments_na">media=</span><span class="pygments_s">&quot;all&quot;</span><span class="pygments_nt">/&gt;</span>
  <span class="pygments_nt">&lt;link</span> <span class="pygments_na">rel=</span><span class="pygments_s">&quot;stylesheet&quot;</span> <span class="pygments_na">href=</span><span class="pygments_s">&quot;<a href="../../css/screen.css">../../css/screen.css</a>&quot;</span> <span class="pygments_na">media=</span><span class="pygments_s">&quot;screen, projection&quot;</span><span class="pygments_nt">/&gt;</span>
  <span class="pygments_nt">&lt;link</span> <span class="pygments_na">rel=</span><span class="pygments_s">&quot;stylesheet&quot;</span> <span class="pygments_na">href=</span><span class="pygments_s">&quot;<a href="../../css/print.css">../../css/print.css</a>&quot;</span> <span class="pygments_na">media=</span><span class="pygments_s">&quot;print&quot;</span><span class="pygments_nt">/&gt;</span>
</pre></div>
    <p>
        Je přitom využito kaskádové definice pravidel, kde jsou
        ve&nbsp;specifičtějších nebo později připojovaných stylopisech
        upravovány pouze ty vlastnosti zobrazení, které je třeba změnit oproti
        definicím předchozím.
    </p>
    <p>
        CSS je formálně definovaný jazyk s&nbsp;přesnými syntaktickými 
        pravidly. Dodržování těchto pravidel u&nbsp;konkrétního dokumentu je 
        možné ověřit validací, např. pomocí 
        <a href="http://jigsaw.w3.org/css-validator/">on-line validační 
        služby W3C pro CSS</a>.
    </p>
    <p>
        <a href="https://www.google.com/search?q=css+tutorial+OR+n%C3%A1vod">Na
        webu existuje obrovské množství výukových kurzů CSS</a>. 
        Osvědčeným zdrojem informací o&nbsp;webových technologiích (včetně CSS) 
        jsou <a href="http://www.w3schools.com/">školičky technologií 
        W3C</a>. I&nbsp;přes své stáří je stále pěkným základním úvodem do 
        filosofie a&nbsp;principů CSS 
        <a href="http://www.jakpsatweb.cz/css/">kurz CSS na serveru Jak psát 
        web</a>.
    </p>
    <p>
        Technologie CSS slouží pouze pro definici vzhledu. Samotný (X)HTML 
        dokument by měl být plně smysluplný i&nbsp;bez připojení kaskádových 
        stylů. V&nbsp;prohlížeči Firefox můžete použití CSS na libovolné stránce 
        snadno vypnout a&nbsp;ověřit si tak, jak kvalitně je stránka strukturně 
        označkována přímo v&nbsp;jazyce (X)HTML/XML:
        <code class="ukazka_kodu">
            Zobrazení → Styl stránky → Bez stylu
        </code>
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="javascript">
            JavaScript
        </span>
    </h2>
    <p>
        <a href="https://www.w3.org/standards/webdesign/script">JavaScript</a>
        je interpretovaný programovací jazyk, který umožňuje oživit elektronické
        dokumenty v&nbsp;jazyce <a href="../html">(X)HTML</a>
        o&nbsp;interaktivní prvky. Jedná se o&nbsp;dynamicky typovaný jazyk
        s&nbsp;prvky funkcionálního a&nbsp;objektově orientovaného programování,
        který původně vznikl jako jednoduchá alternativa k&nbsp;webovým appletům
        v&nbsp;jazyce Java. JavaScript se Javě podobá syntaxí, názvy vestavěných
        funkcí a&nbsp;datových typů, ale koncepčně se jedná o&nbsp;zcela odlišné
        jazyky.
    </p>

    <p>
        JavaScript můžeme rozdělit na prohlížečovou část a&nbsp;na jádro,
        které neobsahuje žádné metody pro manipulaci s&nbsp;elektronickým
        dokumentem a&nbsp;které lze používat
        i&nbsp;<a href="https://nodejs.org/en/">mimo webový prohlížeč</a> jako
        víceúčelový programovací jazyk.
        Toto jádro se nazývá <a href="http://www.ecma-international.org/publications/standards/Ecma-262.htm">ECMAScript</a>
        a&nbsp;je udržováno mezinárodní standardizační organizací ECMA
        International. Pro základní seznámení si otevřete JavaScriptovou
        konzolu svého prohlížeče (obvykle se skrývá pod klávesou
        <code>F12</code> nebo pod klávesovou zkratkou <code>Ctrl+Shift+J</code>)
        a&nbsp;zkuste si spustit úryvky kódu z&nbsp;<a href="files/sample.js.html">ukázkového souboru</a>.
    </p>

    <p>
        K&nbsp;elektronickému dokumentu lze z&nbsp;JavaScriptu přistupovat skrz
        rozhraní <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model">Document
        Object Model (DOM)</a>. DOM reprezentuje dokument jako
        strom, ve kterém je možné se pohybovat, přistupovat k&nbsp;jeho
        uzlům a&nbsp;reagovat na události, jako je kliknutí myši nebo stisk
        klávesy. S&nbsp;použitím DOMu můžeme náš ukázkový (X)HTML dokument
        z minulého cvičení <a href="files/sample-3.html">upravit tak</a>, aby se
        po kliknutí myši nebo doteku displeje změnil text a&nbsp;barva titulku:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-3.html -->
<div class="ukazka_kodu"><pre>
<span class="lineno">44 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">main</span><span class="pygments_p">&gt;</span>
<span class="lineno">45 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">script</span><span class="pygments_p">&gt;</span>
<span class="lineno">46 </span>    <span class="pygments_nb">document</span><span class="pygments_p">.</span><span class="pygments_nx">getElementById</span><span class="pygments_p">(</span><span class="pygments_s2">&quot;title&quot;</span><span class="pygments_p">).</span><span class="pygments_nx">onclick</span> <span class="pygments_o">=</span> <span class="pygments_kd">function</span><span class="pygments_p">()</span> <span class="pygments_p">{</span>
<span class="lineno">47 </span>      <span class="pygments_k">this</span><span class="pygments_p">.</span><span class="pygments_nx">style</span><span class="pygments_p">.</span><span class="pygments_nx">color</span> <span class="pygments_o">=</span> <span class="pygments_s2">&quot;red&quot;</span><span class="pygments_p">;</span>
<span class="lineno">48 </span>      <span class="pygments_k">this</span><span class="pygments_p">.</span><span class="pygments_nx">replaceChild</span><span class="pygments_p">(</span>
<span class="lineno">49 </span>          <span class="pygments_nb">document</span><span class="pygments_p">.</span><span class="pygments_nx">createTextNode</span><span class="pygments_p">(</span><span class="pygments_s2">&quot;Nový text titulku&quot;</span><span class="pygments_p">),</span> <span class="pygments_nx">title</span><span class="pygments_p">.</span><span class="pygments_nx">firstChild</span><span class="pygments_p">);</span>
<span class="lineno">50 </span>    <span class="pygments_p">};</span>
<span class="lineno">51 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">script</span><span class="pygments_p">&gt;</span>
<span class="lineno">52 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">body</span><span class="pygments_p">&gt;</span>
<span class="lineno">53 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">html</span><span class="pygments_p">&gt;</span>
</pre></div>
    <p>
        V&nbsp;minulosti <a href="http://www.quirksmode.org/js/dom0.html">panovaly
        významné rozdíly</a> mezi implementacemi DOMu v&nbsp;různých webových
        prohlížečích a&nbsp;vznikaly proto dodatečné knihovny, které autora od
        implementačních rozdílů odstiňovaly. Dnes je již situace podstatně
        lepší, nicméně knihovny
        jako <a href="https://jquery.com/">jQuery</a> nám stále mohou
        díky jednoduché syntaxi a&nbsp;<a href="https://www.npmjs.com/browse/keyword/jquery-plugin">rozšiřujícím modulům</a>
        významně usnadnit práci. Předchozí příklad můžeme pomocí jQuery
        <a href="files/sample-4.html">přeformulovat následovně</a>:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-4.html -->
<div class="ukazka_kodu"><pre>
<span class="lineno">44 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">main</span><span class="pygments_p">&gt;</span>
<span class="lineno">45 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">script</span> <span class="pygments_na">src</span><span class="pygments_o">=</span><span class="pygments_s">&quot;https://code.jquery.com/jquery-2.1.4.min.js&quot;</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">script</span><span class="pygments_p">&gt;</span>
<span class="lineno">46 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">script</span><span class="pygments_p">&gt;</span>
<span class="lineno">47 </span>    <span class="pygments_nx">$</span><span class="pygments_p">(</span><span class="pygments_s2">&quot;h1 span#title&quot;</span><span class="pygments_p">).</span><span class="pygments_nx">click</span><span class="pygments_p">(</span><span class="pygments_kd">function</span><span class="pygments_p">()</span> <span class="pygments_p">{</span>
<span class="lineno">48 </span>      <span class="pygments_nx">$</span><span class="pygments_p">(</span><span class="pygments_k">this</span><span class="pygments_p">).</span><span class="pygments_nx">css</span><span class="pygments_p">(</span><span class="pygments_s2">&quot;color&quot;</span><span class="pygments_p">,</span> <span class="pygments_s2">&quot;red&quot;</span><span class="pygments_p">).</span><span class="pygments_nx">text</span><span class="pygments_p">(</span><span class="pygments_s2">&quot;Nový text titulku&quot;</span><span class="pygments_p">);</span>
<span class="lineno">49 </span>    <span class="pygments_p">});</span>
<span class="lineno">50 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">script</span><span class="pygments_p">&gt;</span>
<span class="lineno">51 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">body</span><span class="pygments_p">&gt;</span>
<span class="lineno">52 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">html</span><span class="pygments_p">&gt;</span>
</pre></div>
    <p>
        Kromě DOMu lze z&nbsp;JavaScriptu přistupovat
        i&nbsp;k&nbsp;<a href="https://developer.mozilla.org/en-US/docs/Web/API">dalším
        webovým rozhraním</a>, která umožňují využívat rozšiřující funkce webového
        prohlížeče. DOM a&nbsp;standardní webová rozhraní spadají pod správu
        <a href="http://www.w3.org/">World Wide Web konzorcia (W3C)</a>. Kromě
        nich existují i&nbsp;nestandardní rozhraní od výrobců prohlížečů.
    </p>
    <p>
        <a href="https://www.google.com/search?q=JavaScript+tutorial+OR+n%C3%A1vod">Na
        webu existuje obrovské množství výukových kurzů JavaScriptu</a>. 
        Osvědčeným zdrojem informací o&nbsp;webových technologiích (včetně
        JavaScriptu) jsou <a href="http://www.w3schools.com/">školičky
        technologií W3C</a>. I&nbsp;přes své stáří je stále pěkným
        základním úvodem do principů JavaScriptu
        <a href="http://www.jakpsatweb.cz/javascript/">kurz JavaScriptu na serveru
        Jak psát web</a>. Při přípravě elektronického dokumentu bychom
        měli dbát na to, aby byl dokument samotný dobře čitelný i&nbsp;při
        zobrazení v&nbsp;prohlížeči bez podpory JavaScriptu. Prohlížeč nám
        zpravidla <a href="http://www.wikihow.com/Disable-JavaScript">umožňuje
        JavaScript deaktivovat</a> a&nbsp;ověřit si, jak dokument vypadá samostatně.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
    <li>
        Nastylujte a rozpohybujte si webovou stránku z <a href="../html/">minulého cvičení</a>
        pomocí jazyků <abbr>CSS</abbr> a JavaScript
        <a href="../../miniwork/css-a-javascript/zadani.pdf">podle zadání</a>.
    </li>
    <li>
        Vyberte si a vypracujte
        <a href="https://www.codecademy.com/learn/all">online kurz</a>, který
        odpovídá vašim zkušenostem s tvorbou webových stránek.
    </li>
    </ul>

    <!-- Konec textu. -->
</div>
