<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Seznámení s použitým softwarem</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
      Při práci s dokumenty se nám bude hodit množství programů. Některé
      z&nbsp;těchto programů si nyní představíme a ukážeme si základy práce s&nbsp;nimi.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="obecne-informace">
            Obecné informace
        </span>
    </h2>
    <ul>
        <li>
            Na cvičeních PB029 bude využíván převážně volně šiřitelný 
            software (TeX, GhostScript, Scribus, Inkscape, GIMP,&thinsp;&hellip;).
        </li>
        <li>
            Pro práci můžete:
            <ul>
                <li>
                    využít počítač s&nbsp;Windows přímo v&nbsp;učebně, ke
                    kterému se přes noc můžete
                    <a href="https://www.fi.muni.cz/tech/win/ucebny.html.cs#rdesktop">přihlásit
                    i vzdáleně</a>,
                </li>
                <li>
                    <a href="#pripojeni-k-unixu-z-windows">vzdáleně se přihlásit</a> 
                    na některý
                    z&nbsp;<a href="https://www.fi.muni.cz/tech/#unix">unixových serverů na 
                    FI</a>.
                </li>
            </ul>
            Bez garance podpory ze strany cvičících pak můžete také:
            <ul>
                <li>
                    využít <a href="#tex-on-line">on-line služby pro práci s TeXem</a> a
                </li>
                <li>
                    pracovat na vlastním počítači.
                </li>
            </ul>
            V&nbsp;maximální míře se budeme snažit o&nbsp;multiplatformnost.
            Berte ale prosím ohled na to, že cvičící mají omezené praktické
            zkušenosti s&nbsp;Windows a&nbsp;Mac OS a stejně tak nemusí být
            schopni pomoci s&nbsp;alternativním software, který sami
            nepoužívají.  (Zkoumání nových užitečných cest a&nbsp;nástrojů je
            však doporučováno a&nbsp;podporováno!) V&nbsp;případě problémů,
            které ani přes maximální snahu nebudou schopni rozřešit, proto
            prosím sáhněte po doporučovaném ověřeném softwarovém řešení.
        </li>
        <li>
            Pamatujte, že jsou k&nbsp;dispozici 
            <a href="https://www.fi.muni.cz/tech/index.html.cs">návody pro
            technické vybavení na FI</a>, kde můžete najít podrobný popis
            použití technického vybavení FI, které budete v&nbsp;rámci PB029
            využívat. V&nbsp;případě potíží je toto první místo, kde byste
            měli hledat pomoc.
        </li>
        <li>
            Při práci se soubory pod Windows doporučujeme používat 
            <a href="https://www.altap.cz/">Altap Salamander</a> (lepší 
            alternativa k&nbsp;<a href="https://www.ghisler.com/">Total Commander</a> 
            ;-)):
            <code class="ukazka_kodu">
                Nabídka Start → Altap Salamander (x64)
            </code>
            <ul>
                <li>
                    Díky vstřícné licenční politice výrobce můžete plnou 
                    verzi Altap Salamander používat nejen na všech 
                    univerzitních počítačích, ale jako studenti/zaměstnanci 
                    MU také na svých domácích počítačích/noteboocích. 
                    <a href="https://inet.muni.cz/app/soft/licence?assign=10571">Licenční 
                    klíč</a> si můžete stáhnout 
                    z&nbsp;<a href="https://inet.muni.cz/app/soft/licence">INETu</a>.
                </li>
            </ul>
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="pripojeni-k-unixu-z-windows-na-fi">
            Připojení k&nbsp;unixovému počítači z&nbsp;Windows na FI
        </span>
    </h2>
    <ul>
        <li>
            K&nbsp;datům ze svého unixového domovského adresáře se dostanete
            snadno přímo z&nbsp;Windows, neboť je jako síťová jednotka 
            <a href="https://www.fi.muni.cz/tech/win/map_aisa.html">mapována 
            na disk <tt>J:\</tt></a>.
            <ul>
                <li>
                    Výstupy vygenerované na unixovém serveru tak můžete 
                    prohlížet ve Windows instalovanými programy prakticky 
                    stejně, jako by byly vytvořeny na lokálním počítači.
                </li>
            </ul>
        </li>
        <li>
            Standardním způsobem práce na vzdáleném unixovém počítači je 
            připojení přes Secure Shell (SSH).
            <ul>
                <li>
                    SSH klient pro Windows instalovaný na FI je program 
                    <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/">PuTTY</a>:
                    <code class="ukazka_kodu">
                        Nabídka Start → Remote Access → PuTTY
                    </code>
                </li>
                <li>
                    Doporučujeme připojit se na některý
                    z&nbsp;<a href="https://www.fi.muni.cz/tech/#unix">unixových počítačů 
                    v&nbsp;počítačové hale (Nymfe*), nebo studentský server Aisa</a>.
                    <img class="centered"
                         src="pictures/putty-1.png"
                         alt="Připojení přes PuTTY na aisa.fi.muni.cz – krok 1"/>
                    <img class="centered"
                         src="pictures/putty-2.png"
                         alt="Připojení přes PuTTY na aisa.fi.muni.cz – krok 2"/>
                    <img class="centered"
                         src="pictures/putty-3.png"
                         alt="Připojení přes PuTTY na aisa.fi.muni.cz – krok 3"/>
                    <img class="centered"
                         src="pictures/putty-4.png"
                         alt="Připojení přes PuTTY na aisa.fi.muni.cz – krok 4"/>
                    <img class="centered"
                         src="pictures/putty-5.png"
                         alt="Připojení přes PuTTY na aisa.fi.muni.cz – krok 5"/>
                </li>
                <li>
                    Při prvním připojení na server <tt>aisa.fi.muni.cz</tt> 
                    pod vaším uživatelským účtem se pravděpodobně objeví 
                    varování o&nbsp;připojení k&nbsp;neznámému počítači s&nbsp;uvedeným 
                    otiskem šifrovacího klíče vzdáleného počítače.
                    <img class="centered"
                         src="pictures/putty-server-key-fingerprint.png"
                         alt="Potvrzení otisku klíče vzdáleného serveru"/>
                     Před potvrzením ověřte, že vypsaný otisk odpovídá 
                     aktuálnímu otisku počítače, se kterým chcete 
                     komunikovat. Obzvláště opatrní buďte, pokud se podobné 
                     hlášení objeví někdy v&nbsp;budoucnu. Může to indikovat 
                     změnu šifrovací klíčů na vzdáleném serveru, <em>může to 
                     ale indikovat také pokus 
                     o&nbsp;<a href="https://cs.wikipedia.org/wiki/Man_in_the_middle">MitM 
                     útok</a> na vaše spojení!</em> Veřejné klíče pro stroje na Fakultě
                     informatiky jsou ke stažení
                     <a href="https://fadmin.fi.muni.cz/noauth/sshkh/ssh-known-hosts.mpl">
                     ve fakultní administrativě</a>. 
                </li>
                <li>
                    Po připojení na server ověřte spuštěním příkazu
                    <tt>locale</tt>, že opravdu používáte kódování UTF-8.
                    <code class="ukazka_kodu">
                        $ locale<br/>
                        LANG=cs_CZ.utf8<br/>
                        LC_CTYPE="cs_CZ.utf8"<br/>
                        LC_NUMERIC="cs_CZ.utf8"<br/>
                        LC_TIME="cs_CZ.utf8"<br/>
                        LC_COLLATE="cs_CZ.utf8"<br/>
                        LC_MONETARY="cs_CZ.utf8"<br/>
                        LC_MESSAGES="cs_CZ.utf8"<br/>
                        LC_PAPER="cs_CZ.utf8"<br/>
                        LC_NAME="cs_CZ.utf8"<br/>
                        LC_ADDRESS="cs_CZ.utf8"<br/>
                        LC_TELEPHONE="cs_CZ.utf8"<br/>
                        LC_MEASUREMENT="cs_CZ.utf8"<br/>
                        LC_IDENTIFICATION="cs_CZ.utf8"<br/>
                        LC_ALL=cs_CZ.utf8
                    </code>
                    Proměnná <tt>LC_ALL</tt> může být rovněž prázdná. Pokud ve výstupu
                    informaci o&nbsp;UTF-8 nevidíte, přidejte si do souboru
                    <tt>~/.bashrc</tt> např. tento kód:
                    <code class="ukazka_kodu">
                        export LANG=cs_CZ.utf8<br/>
                        export LC_ALL=cs_CZ.utf8<br/>
                        export LC_CTYPE=cs_CZ.utf8<br/>
                        export _XKB_CHARSET=utf8<br/>
                    </code>
                </li>
            </ul>
        </li>
        <li>
            Na vzdáleném unixovém počítači je možné spouštět i&nbsp;grafické 
            programy, jejichž výstup bude zobrazován na lokálním počítači. 
            Pro zajištění této funkce je třeba mít na lokálním počítači 
            s&nbsp;Windows spuštěný X&nbsp;server. Na FI je instalována implementace 
            Xming:
            <code class="ukazka_kodu">
                Nabídka Start → Remote Access → Xming
            </code>
            <ul>
                <li>
                    Vestavěný firewall Windows na počítačích v&nbsp;učebně 
                    omezuje některé funkce programu Xming, na funkci v&nbsp;rámci 
                    sítě MU to ale nemá vliv.
                    <img class="centered"
                         src="pictures/xming-firewall.png"
                         alt="Hlášení Windows Firewall o&nbsp;blokování některých funkcí programu Xming"/>
                    Varování firewallu je tedy možné zavřít tlačítkem 
                    „Cancel“.
                </li>
                <li>
                    Xming po spuštění nezobrazuje žádné uživatelské okno. 
                    Běžící X&nbsp;server Xming je indikován ikonou v&nbsp;oznamovací 
                    oblasti Windows.
                    <img class="centered"
                         src="pictures/xming-running.png"
                         alt="Ikona Xming v&nbsp;oznamovací oblasti Windows indikuje běžící X&nbsp;server"/>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="pripojeni-k-unixu-mimo-fi">
            Připojení k&nbsp;unixovému počítači mimo FI
        </span>
    </h2>
    <ul>
        <li>
            K&nbsp;dátam na vzdialenom unixovom stroji sa samozrejme dokážete
            dostať aj zo svojho vlastného zariadenia. Oproti počítačom
            v&nbsp;učebniach na FI však nebudete mať svoj unixový domovský
            adresár mapovaný ako sieťovú jednotku
            <a href="https://www.fi.muni.cz/tech/win/map_aisa.html">na disku
            <tt>J:\</tt></a>. K&nbsp;svojmu unixovému domovskému adresáru sa
            pripojíte iným spôsobom.
        </li>
        <li>
            Jednou možnosťou na zobrazovanie dokumentov na lokálnom počítači
            je použitie spomínaného X&nbsp;servera pri SSH spojení, to však
            nemusí byť najpohodlnejšie a&nbsp;najrýchlejšie riešenie.
        </li>
        <li>
            Nižšie je uvedený spôsob, ktorým v&nbsp;termináli budete môcť
            vykonávať príkazy na vzdialenom stroji a&nbsp;so súbormi
            manipulovať ako by ste ich mali k&nbsp;dispozícii lokálne.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="pripojeni-pod-unixem">
            Připojení pod Unixem
        </span>
    </h3>
    <ul>
        <li>
            K&nbsp;vzdialenému unixovému stroju (napr. študentský server Aisa)
            sa pripojíte cez SSH programom <code>ssh</code>:
            <code class="ukazka_kodu">
                ssh &lt;xlogin&gt;@aisa.fi.muni.cz
            </code>
        </li>
        <li>
            Svoj unixový domovský adresár pripojíte (mount) pomocou SSHFS (SSH
            Filesystem) klienta. Najskôr si na lokálnom zariadení vytvoríte
            adresár, kam vzdialený adresár namapujete, napr.:
            <code class="ukazka_kodu">
                mkdir aisa-home
            </code>
            Potom adresáre namapujete:
            <code class="ukazka_kodu">
                sshfs &lt;xlogin&gt;@aisa.fi.muni.cz:/home/&lt;xlogin&gt; aisa-home
            </code>
            Po skončení práce môžete namapovaný adresár odpojiť príkazom:
            <code class="ukazka_kodu">
                fusermount -u aisa-home
            </code>
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="pripojeni-pod-windows">
            Připojení pod Windows
        </span>
    </h3>
    <ul>
        <li>
            K&nbsp;vzdialenému unixovému stroju (napr. študentský server Aisa)
            sa pripojíte cez SSH programom <code>ssh</code> v termináli
            (využiť môžete
            <a href="https://docs.microsoft.com/en-us/windows/wsl/about">
                Windows Subsystem for Linux (WSL)</a>,
            <a href="https://docs.microsoft.com/en-us/powershell/">
                PowerShell</a>,
            <a href="https://www.cygwin.com/">
                Cygwin</a>,
            a pod.):
            <code class="ukazka_kodu">
                ssh &lt;xlogin&gt;@aisa.fi.muni.cz
            </code>
            Alebo SSH klientom, napr. PuTTY (návod
            <a href="./#pripojeni-k-unixu-z-windows-na-fi">viď vyššie</a>).
        </li>
        <li>
            Svoj unixový domovský adresár pripojíte pomocou SFTP (SSH File
            Transfer Protocol) klienta, napríklad pomocou programu
            <a href="https://winscp.net/eng/docs/ui_login">WinSCP</a>:
            <ul>
                <li>
                    File protocol: <code>SFTP</code>
                </li>
                <li>
                    Host name: <code>aisa.fi.muni.cz</code>
                </li>
                <li>
                    User name: xlogin
                </li>
                <li>
                    Password: fakultné heslo
                </li>
            </ul>
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="tex-na-fi">
            TeX na FI
        </span>
    </h2>
    <ul>
        <li>
            Na FI využíváme TeXovou distribuci
            <a href="https://www.tug.org/texlive/">TeX Live</a>, která poskytuje 
            programy zkompilované pro všechny myslitelné běžné platformy 
            společně s&nbsp;nepřeberným množstvím dalších zdrojů (šablony dokumentů, 
            fonty&thinsp;&hellip;).
            <ul>
            <li>
                Technické provedení instalace na FI je založeno na
                <a href="https://www.fi.muni.cz/tech/unix/moduly.html">unixových 
                softwarových modulech FI MU</a>&nbsp;– instalace TeXu na FI je 
                jediná, ale sdílená napříč všemi unixovými platformami 
                a&nbsp;počítači s&nbsp;Windows. Při vývoji svých dokumentů tak můžete 
                plynule přecházet mezi různými platformami na FI při garanci 
                <em>stejného</em> zlomu dokumentu.
            </li>
            </ul>
        </li>
        <li>
            S&nbsp;prvními kroky s&nbsp;TeXem vám mohou pomoci některé
            z&nbsp;<a href="../../#resources">doporučovaných 
            studijních materiálů</a>.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tex-pod-unixem">
            TeX pod Unixem
        </span>
    </h3>
    <ul>
        <li>
            Aktuální TeX Live je k&nbsp;dispozici jako 
            <a href="https://www.fi.muni.cz/tech/unix/moduly.html">unixový 
            softwarový modul</a> <tt>texlive</tt>.
            <ul>
                <li>
                    Aktivace modulu se provede příkazem:
                    <code class="ukazka_kodu">
                        module add texlive
                    </code>
                </li>
                <li>
                    Aktivace modulu je platná jen pro aktuální spojení. 
                    V&nbsp;průběhu semestru navíc budete možná chtít používat 
                    i&nbsp;další moduly. Potřebné moduly se navíc na různých 
                    strojích mohou lišit. Je proto vhodné přidat si 
                    <a href="files/modules.sh">potřebné 
                    příkazy</a> do souboru <tt>~/.profile</tt> resp. 
                    <tt>~/.bashrc</tt>, aby se provedly při každém spuštění 
                    shellu.
                </li>
                <li>
                    Ověřit, že byl modul zavedem, můžete příkazem:
                    <code class="ukazka_kodu">
                        module list
                    </code>
                </li>
            </ul>
        </li>
        <li>
            Starší verze TeXové distribuce jsou přístupné v&nbsp;modulech 
            <tt>texlive-2023</tt>, <tt>texlive-2022</tt>, &hellip;,
            <tt>texlive-2011</tt>, <tt>texlive-2010</tt>, 
            <tt>texlive-2008</tt>, <tt>texlive-2005a</tt>, 
            <tt>texlive2003</tt>, <tt>texlive-6</tt> a&nbsp;<tt>tex</tt>. Tyto 
            moduly však doporučujeme <em>pouze</em> pro zpětnou 
            kompatibilitu (překlad starších dokumentů).
        </li>
        <li>
            Pro editaci zdrojových souborů můžete používat v&nbsp;podstatě 
            jakýkoliv textový editor. Pokud ještě nemáte zkušenosti 
            s&nbsp;mocnými editory typu Emacs či Vim, můžete pro začátek 
            použít např. velmi jednoduché textové editory jako <tt>pico</tt> 
            či <tt>joe</tt>.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tex-pod-windows">
            TeX pod Windows
        </span>
    </h3>
    <ul>
        <li>
            Byť pod Windows je nejrozšířenější distribucí 
            <a href="https://miktex.org">MikTeX</a>, na FI je pro 
            stoprocentní portabilitu používán TeX Live stejně, jako na 
            ostatních platformách.
        </li>
        <li>
            Na ploše ve složce&nbsp;<tt>Programs\Document Tools</tt> 
            jsou k&nbsp;dispozici tři zástupci:
            <ul>
                <li>
                    <tt>TeXLive2023 namapovani na T</tt>
                    <ul>
                        <li>
                            Namapuje na disk <tt>T:\</tt> sdílený síťový 
                            svazek se sdílenou instalací TeX Live. Mapování 
                            disku <tt>T:\</tt> může být užitečné 
                            k&nbsp;jednoduchému průzkumu adresářové 
                            struktury TeXové instalace z&nbsp;prostředí 
                            Windows.
                        </li>
                    </ul>
                </li>
                <li>
                    <tt>TeXLive2023 CMD</tt>
                    <ul>
                        <li>
                            Spustí příkazovou řádku, kde pro volání TeXových 
                            programů není potřeba používat jako prefix 
                            jejich plnou síťovou cestu 
                            <tt>\\home\share\texlive-2023</tt>, neboť ta již 
                            bude uvedena v&nbsp;proměnné <tt>PATH</tt>. 
                        </li>
                    </ul>
                </li>
                <li>
                    <tt>TeXworks+TeXLive2023</tt>
                    <ul>
                        <li>
                            Spustí vývojové prostředí <a href="https://www.tug.org/texworks/">TeXworks</a> 
                            s&nbsp;TeX Live instalací odkazovanou v&nbsp;proměnné 
                            <tt>PATH</tt>. 
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Pro sazbu TeXem pod Windows doporučujeme používat „integrované 
            vývojové prostředí pro TeX“
            <a href="https://www.tug.org/texworks/">TeXworks</a>.
            <ul>
                <li>
                    V&nbsp;rámci výuky budeme pro zpracování dokumentů
                    často spouštět příkazy z&nbsp;příkazového řádku. Pokud
                    Vám práce s&nbsp;příkazovým řádkem nevyhovuje, můžete
                    si příkazy přidávat přímo do grafického rozhraní
                    programu TeXworks. Předpokládejte, že pracujete
                    s&nbsp;dokumentem <code>soubor.tex</code>
                    a&nbsp;potřebujete spustit příkaz
                    <code class="ukazka_kodu">
                        příkaz --nějaká-volba soubor.aux
                                --nějaká-jiná-volba soubor.tex
                    </code>
                    Tento příkaz si do grafického rozhraní TeXworks
                    přidáte následovně:
                    <img class="centered"
                         src="pictures/texworks-prikazy-1.png"
                         alt="Přidání uživatelského příkazu do TeXworks – krok 1"/>
                    <img class="centered"
                         src="pictures/texworks-prikazy-2.png"
                         alt="Přidání uživatelského příkazu do TeXworks – krok 2"/>
                    <img class="centered"
                         src="pictures/texworks-prikazy-3.png"
                         alt="Přidání uživatelského příkazu do TeXworks – krok 3"/>
                    Zde <code>$basename</code> odpovídá názvu otevřeného
                    dokumentu bez přípony (<code>soubor</code>)
                    a&nbsp;<code>$fullname</code> odpovídá plnému názvu
                    otevřeného dokumentu (<code>soubor.tex</code>).
                    Následně již můžeme nově vytvořený příkaz spustit:
                    <img class="centered"
                         src="pictures/texworks-prikazy-4.png"
                         alt="Přidání uživatelského příkazu do TeXworks – krok 4"/>
                </li>
                <li>
                    Alternativně můžete pracovat na příkazové řádce obdobně 
                    jako pod Unixem, či použít libovolný jiný textový editor 
                    nebo TeXové IDE (např. 
                    <a href="http://www.texniccenter.org/">TeXnicCenter</a>).
                </li>
            </ul>
        </li>
        <li>
            PostScriptové soubory (*.ps, *.eps) si můžete prohlédnout pomocí 
            programu GSView (GhostScript).
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="tex-mimo-fi">
            TeX mimo FI
        </span>
    </h2>
    <p>
        Při řešení úkolů v&nbsp;průběhu semestru budete pravděpodobně
        pracovat s&nbsp;TeXem a&nbsp;přidruženými nástroji
        i&nbsp;z&nbsp;domova. Jedním z&nbsp;možných řešení je vzdáleně využívat
        školní <a href="#pripojeni-k-unixu-z-windows">unixové servery</a>
        nebo <a href="https://www.fi.muni.cz/tech/win/remote.html">počítače
        s&nbsp;Windows</a>. Snáze se vám však bude pracovat, pokud si TeX
        nainstalujete přímo na své zařízení.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tex-mimo-fi-pod-unixem">
            TeX pod Unixem
        </span>
    </h3>
    <ul>
        <li>
            V&nbsp;unixovém světě je hlavní TeXovou distribucí
            <a href="https://www.tug.org/texlive/">TeX Live</a>.
            Instalace z&nbsp;terminálu by mohla vypadat např. takto:
            <code class="ukazka_kodu">
                $ <b>wget http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz</b><br/>
                --2016-09-09 19:42:56--  http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz<br/>
                Překládám mirror.ctan.org (mirror.ctan.org)… 176.28.54.184, 2a01:488:67:1000:b01c:36b8:0:1<br/>
                Navazuje se spojení s mirror.ctan.org (mirror.ctan.org)|176.28.54.184|:80… spojeno.<br/>
                HTTP požadavek odeslán, program čeká na odpověď… 302 Found<br/>
                Přesměrováno na: http://ftp.cvut.cz/tex-archive/systems/texlive/tlnet/install-tl-unx.tar.gz [následuji]<br/>
                --2016-09-09 19:42:56--  http://ftp.cvut.cz/tex-archive/systems/texlive/tlnet/install-tl-unx.tar.gz<br/>
                Překládám ftp.cvut.cz (ftp.cvut.cz)… 147.32.160.17<br/>
                Navazuje se spojení s ftp.cvut.cz (ftp.cvut.cz)|147.32.160.17|:80… spojeno.<br/>
                HTTP požadavek odeslán, program čeká na odpověď… 200 OK<br/>
                Délka: 3286291 (3,1M) [application/x-gzip]<br/>
                Ukládám do: „install-tl-unx.tar.gz“<br/>
                <br/>
                install-tl-unx.tar.gz 100%[========================&gt;]   3,13M  1,64MB/s    in 1,9s    <br/>
                <br/>
                2016-09-09 19:42:58 (1,64 MB/s) – „install-tl-unx.tar.gz“ uloženo [3286291/3286291] <br/>
                $ <b>tar xzf install-tl-unx.tar.gz</b><br/>
                $ <b>ls</b><br/>
                install-tl-20230908<br/>
                install-tl-unx.tar.gz<br/>
                $ <b>cd install-tl-20230908</b><br/>
                $ <b>ls</b><br/>
                install-tl  LICENSE.CTAN  LICENSE.TL  release-texlive.txt  texmf-dist  tlpkg<br/>
                $ <b>./install-tl</b><br/>
                Loading http://ftp.cvut.cz/tex-archive/systems/texlive/tlnet/tlpkg/texlive.tlpdb<br/>
                Installing TeX Live 2023 from: http://ftp.cvut.cz/tex-archive/systems/texlive/tlnet (verified)<br/>
                Platform: x86_64-linux =&gt; 'GNU/Linux on x86_64'<br/>
                Distribution: net  (downloading)<br/>
                Using URL: http://ftp.cvut.cz/tex-archive/systems/texlive/tlnet<br/>
                Directory for temporary files: /tmp/kaXirZDHJJ<br/>
            </code>
            <p>
                Instalátor TeX Live obsahuje množství nastavení, která můžete
                nastavovat pomocí stisknutím písmen na klávesnici a následným
                stisknutím klávesy Enter. Posloupnost kláves, které jsme
                stisknuli v naší instalaci je
                <tt><b>O</b></tt>, <tt>Enter</tt>, <tt><b>L</b></tt>,
                <tt>Enter</tt>, <tt>Enter</tt>, <tt>Enter</tt>, <tt>Enter</tt>,
                <tt><b>R</b></tt>, <tt>Enter</tt>, <tt><b>I</b></tt>,
                <tt>Enter</tt>.
            </p>
            <code class="ukazka_kodu">
                ======================&gt; TeX Live installation procedure &lt;=====================<br/>
                <br/>
                ======&gt;   Letters/digits in &lt;angle brackets&gt; indicate   &lt;=======<br/>
                ======&gt;   menu items for commands or options            &lt;=======<br/>
                <br/>
                 Detected platform: GNU/Linux on x86_64<br/>
                 <br/>
                 &lt;B&gt; binary platforms: 1 out of 17<br/>
                <br/>
                 &lt;S&gt; set installation scheme (scheme-full)<br/>
                <br/>
                 &lt;C&gt; customizing installation collections<br/>
                     47 collections out of 48, disk space required: 4413 MB<br/>
                <br/>
                 &lt;D&gt; directories:<br/>
                   TEXDIR (the main TeX directory):<br/>
                     /usr/local/texlive/2023<br/>
                   TEXMFLOCAL (directory for site-wide local files):<br/>
                     /usr/local/texlive/texmf-local<br/>
                   TEXMFSYSVAR (directory for variable and automatically generated data):<br/>
                     /usr/local/texlive/2023/texmf-var<br/>
                   TEXMFSYSCONFIG (directory for local config):<br/>
                     /usr/local/texlive/2023/texmf-config<br/>
                   TEXMFVAR (personal directory for variable and automatically generated data):<br/>
                     ~/.texlive2023/texmf-var<br/>
                   TEXMFCONFIG (personal directory for local config):<br/>
                     ~/.texlive2023/texmf-config<br/>
                   TEXMFHOME (directory for user-specific files):<br/>
                     ~/texmf<br/>
                <br/>
                 &lt;O&gt; options:<br/>
                   [ ] use letter size instead of A4 by default<br/>
                   [X] allow execution of restricted list of programs via \write18<br/>
                   [X] create all format files<br/>
                   [X] install macro/font doc tree<br/>
                   [X] install macro/font source tree<br/>
                   [ ] create symlinks to standard directories<br/>
                <br/>
                 &lt;V&gt; set up for portable installation<br/>
                <br/>
                Actions:<br/>
                 &lt;I&gt; start installation to hard disk<br/>
                 &lt;H&gt; help<br/>
                 &lt;Q&gt; quit<br/>
                <br/>
                Enter command: <b>O</b><br/>
            </code>
            <code class="ukazka_kodu">
                ===============================================================================<br/>
                Options setup:<br/>
                <br/>
                 &lt;P&gt; use letter size instead of A4 by default: [ ]<br/>
                 &lt;E&gt; execution of restricted list of programs: [X]<br/>
                 &lt;F&gt; create format files:                      [X]<br/>
                 &lt;D&gt; install font/macro doc tree:              [X]<br/>
                 &lt;S&gt; install font/macro source tree:           [X]<br/>
                 &lt;L&gt; create symlinks in standard directories:  [ ]<br/>
                            binaries to: <br/>
                            manpages to: <br/>
                                info to: <br/>
                <br/>
                Actions: (disk space required: 4413 MB)<br/>
                 &lt;R&gt; return to main menu<br/>
                 &lt;Q&gt; quit<br/>
                <br/>
                Enter command: <b>L</b><br/>
                New value for binary directory [/usr/local/bin]: <br/>
                New value for man directory    [/usr/local/man]: <br/>
                New value for info directory   [/usr/local/info]:<br/>
            </code>
            <code class="ukazka_kodu">
                ===============================================================================<br/>
                Options setup:<br/>
                <br/>
                 &lt;P&gt; use letter size instead of A4 by default: [ ]<br/>
                 &lt;E&gt; execution of restricted list of programs: [X]<br/>
                 &lt;F&gt; create format files:                      [X]<br/>
                 &lt;D&gt; install font/macro doc tree:              [X]<br/>
                 &lt;S&gt; install font/macro source tree:           [X]<br/>
                 &lt;L&gt; create symlinks in standard directories:  [X]<br/>
                            binaries to: /usr/local/bin<br/>
                            manpages to: /usr/local/man<br/>
                                info to: /usr/local/info<br/>
                <br/>
                Actions: (disk space required: 4413 MB)<br/>
                 &lt;R&gt; return to main menu<br/>
                 &lt;Q&gt; quit<br/>
                <br/>
                Enter command: <b>R</b><br/>
            </code>
            <code class="ukazka_kodu">
                ======================&gt; TeX Live installation procedure &lt;=====================<br/>
                <br/>
                ======&gt;   Letters/digits in &lt;angle brackets&gt; indicate   &lt;=======<br/>
                ======&gt;   menu items for commands or options            &lt;=======<br/>
                <br/>
                 Detected platform: GNU/Linux on x86_64<br/>
                 <br/>
                 &lt;B&gt; binary platforms: 1 out of 17<br/>
                <br/>
                 &lt;S&gt; set installation scheme (scheme-full)<br/>
                <br/>
                 &lt;C&gt; customizing installation collections<br/>
                     47 collections out of 48, disk space required: 4413 MB<br/>
                <br/>
                 &lt;D&gt; directories:<br/>
                   TEXDIR (the main TeX directory):<br/>
                     /usr/local/texlive/2023<br/>
                   TEXMFLOCAL (directory for site-wide local files):<br/>
                     /usr/local/texlive/texmf-local<br/>
                   TEXMFSYSVAR (directory for variable and automatically generated data):<br/>
                     /usr/local/texlive/2023/texmf-var<br/>
                   TEXMFSYSCONFIG (directory for local config):<br/>
                     /usr/local/texlive/2023/texmf-config<br/>
                   TEXMFVAR (personal directory for variable and automatically generated data):<br/>
                     ~/.texlive2023/texmf-var<br/>
                   TEXMFCONFIG (personal directory for local config):<br/>
                     ~/.texlive2023/texmf-config<br/>
                   TEXMFHOME (directory for user-specific files):<br/>
                     ~/texmf<br/>
                <br/>
                 &lt;O&gt; options:<br/>
                   [ ] use letter size instead of A4 by default<br/>
                   [X] allow execution of restricted list of programs via \write18<br/>
                   [X] create all format files<br/>
                   [X] install macro/font doc tree<br/>
                   [X] install macro/font source tree<br/>
                   [X] create symlinks to standard directories<br/>
                <br/>
                 &lt;V&gt; set up for portable installation<br/>
                <br/>
                Actions:<br/>
                 &lt;I&gt; start installation to hard disk<br/>
                 &lt;H&gt; help<br/>
                 &lt;Q&gt; quit<br/>
                <br/>
                Enter command: <b>I</b><br/>
            </code>
            Pokud nezměníte výchozí cílové adresáře, potom k&nbsp;instalaci
            budete potřebovat právo zápisu do složky
            <code>/usr/local</code>, které je typicky vyhrazeno
            superuživateli nebo správcovské skupině.
        </li>
        <li>
            V&nbsp;průběhu času se součásti TeXové distribuce mění. Svou
            lokální instalaci můžete aktualizovat pomocí příkazu
            <a href="https://www.tug.org/texlive/tlmgr.html"><code>tlmgr</code></a>
            následovně:
            <code class="ukazka_kodu">
                tlmgr update --self --all --reinstall-forcibly-removed
            </code>
            Stejně tak můžete využít grafické prostředí dostupné
            v&nbsp;rámci příkazu
            <code class="ukazka_kodu">
                tlmgr --gui
            </code>
            <img class="centered"
                 src="pictures/update-unix.png"
                 alt="Správa TeX Live na unixech"/>
            V&nbsp;rámci aktualizací nejsou stahovány nové verze programů,
            pouze uživatelské balíčky. Aktualizace programů probíhá jednou
            za rok spolu s&nbsp;vydáním nové major verze TeX Live. Následně
            je verze TeX Live pro předchozí rok zmražena a&nbsp;nejsou již
            pro ni vydávány další aktualizace. Pokud tedy chcete svou
            TeXovou instalaci udržovat aktuální, je nutné jednou za rok
            provést přeinstalaci.
        </li>
        <li>
            <p>
                Unixové distribuce typicky nabízí TeX Live v&nbsp;rámci svých
                softwarových repozitářů. Instalace a&nbsp;aktualizace touto
                cestou jsou systémovější, ale nabízená verze TeX Live může být
                i&nbsp;několik let pozadu za aktuální verzí. Navíc zatímco TeX
                Live provádí inkrementální aktualizace po balíčcích, unixové
                distribuce typicky umožňují pouze aktualizaci celého TeX Live.
            </p>
            <p>
                Instalace z&nbsp;terminálu na Linuxových distribucích Ubuntu
                a Debian by mohla vypadat např. takto:
                <code class="ukazka_kodu">
                    apt install texlive-full
                </code>
            </p>
        </li>
        <li>
            Na TeX Live je založena rozšiřující distribuce
            <a href="https://tug.org/mactex/">MacTeX</a>, která nad rámec
            komponent TeX Live instaluje rozšiřující programy a&nbsp;rozumnou
            výchozí konfiguraci pro Mac OS.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tex-mimo-fi-pod-windows">
            TeX pod Windows
        </span>
    </h3>
    <ul>
        <li>
            Pod Windows je rovněž jednou z&nbsp;hlavních TeXových distribucí
            <a href="https://www.tug.org/texlive/">TeX Live</a>.
            Instalace probíhá skrz grafické prostředí následovně:
            <img class="centered"
                 src="pictures/instalace-win-1.png"
                 alt="Instalace TeX Live na Windows – krok 1"/>
            <img class="centered"
                 src="pictures/instalace-win-2.png"
                 alt="Instalace TeX Live na Windows – krok 2"/>
            <img class="centered"
                 src="pictures/instalace-win-3.png"
                 alt="Instalace TeX Live na Windows – krok 3"/>
        </li>
        <li>
            V&nbsp;průběhu času se součásti TeXové distribuce mění. Svou lokální
            instalaci můžete aktualizovat z&nbsp;příkazové řádky pomocí příkazu
            <a href="https://www.tug.org/texlive/tlmgr.html"><code>tlmgr</code></a>
            následovně:
            <code class="ukazka_kodu">
                tlmgr update --self --all --reinstall-forcibly-removed
            </code>
            Stejně tak můžete využít grafické prostředí dostupné z
            <code class="ukazka_kodu">
                Nabídka Start → All Programs → TeX Live 20XX → TeX Live Manager
            </code>
            <img class="centered"
                 src="pictures/update-win.png"
                 alt="Správa TeX Live na Windows"/>
            V&nbsp;rámci aktualizací nejsou stahovány nové verze programů,
            pouze uživatelské balíčky. Aktualizace programů probíhá jednou
            za rok spolu s&nbsp;vydáním nové major verze TeX Live. Následně
            je verze TeX Live pro předchozí rok zmražena a&nbsp;nejsou již
            pro ni vydávány další aktualizace. Pokud tedy chcete svou
            TeXovou instalaci udržovat aktuální, je nutné jednou za rok
            provést přeinstalaci.
        </li>
        <li>
            Druhou významnou distribucí na Windows je
            <a href="http://miktex.org/">MikTeX</a>. Podobně jako MacTeX
            pro Mac OS je i&nbsp;MikTeX šitý přímo na míru operačnímu
            systému Windows a&nbsp;veškerá konfigurace a&nbsp;správa
            probíhá skrz grafické prostředí. Instalaci MikTeXu popisuje
            <a href="http://miktex.org/howto/install-miktex">návod na
            webových stránkách distribuce</a>.
        </li>
        <li>
            Mezi MikTeXem a&nbsp;TeX Live jsou dva zásadní rozdíly:
            <ol>
                <li>
                    MikTeX průběžně nabízí aktualizace všech součástí
                    instalace, zatímco TeX Live vydává průběžné aktualizace
                    pouze pro uživatelské balíčky a&nbsp;programy jsou
                    aktualizovány jen jednou ročně v&nbsp;rámci přechodu na
                    novou major verzi distribuce. Díky tomu není nutné
                    každý rok provádět přeinstalaci, ale časté aktualizace
                    programů v&nbsp;MikTeXu mají potenciál rozbít
                    uživatelské balíčky, které na změny v&nbsp;programech
                    nestíhají reagovat. Aktualizace v&nbsp;MikTeXu
                    popisuje <a href="http://miktex.org/howto/update-miktex">návod
                    na webových stránkách distribuce</a>.
                </li>
                <li>
                    MikTeX umožňuje začít s&nbsp;malou instalací
                    a&nbsp;nové uživatelské balíčky automaticky doinstalovat
                    až ve chvíli, kdy se vyskytnou v&nbsp;připravovaném
                    dokumentu. V&nbsp;TeX Live lze uživatelské balíčky
                    doinstalovat ručně, ale typické je nainstalovat veškeré
                    dostupné balíčky již při úvodní instalaci.
                </li>
            </ol>
        </li>
        <li>
            Na MikTeXu je založena rozšiřující distribuce
            <a href="https://www.tug.org/protext/">proTeXt</a>, která nad
            rámec MikTeXu instaluje veškeré dostupné uživatelské balíčky,
            editor TeXových dokumentů
            <a href="http://texstudio.sourceforge.net/">TeXstudio</a>
            a&nbsp;dokumentaci zaměřenou na začínající uživatele.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tex-mimo-fi-v-dockeru">
            TeX v Dockeru
        </span>
    </h3>
    <ul>
        <li>
            Namísto instalace můžete využit obrazy <a href="https://hub.docker.com/r/texlive/texlive">TeX Live</a> a
            <a href="https://hub.docker.com/r/miktex/miktex">MikTeXu</a> pro Docker. Toto sestává z několika kroků:
            <ol>
                <li>
                    <a href="https://docs.docker.com/get-docker/">Nainstalujeme Docker</a>.
                </li>
                <li>
                    Stáhneme si příslušný obraz, zde aktuální TeX Live (1,93&thinsp;GB):
                    <code class="ukazka_kodu">
                    $ <b>docker pull texlive/texlive</b>
                    </code>
                </li>
                <li>
                    Vytvoříme si jednorázový kontejner, pomocí kterého v současném adresáři spustíme
                    příkaz <tt>pdflatex sample2e.tex</tt>:
                    <code class="ukazka_kodu">
                        $ <b>docker run -it --rm -v "$PWD":/dokument -w /dokument texlive/texlive pdflatex sample2e.tex</b>
                    </code>
                    Volba <tt>-v "$PWD":/dokument</tt> připojí současný adresář do adresáře
                    <tt>/dokument</tt> uvnitř kontejneru a volba <tt>-w /dokument</tt> zajistí,
                    že příkaz <tt>pdflatex sample2e.tex</tt> se spustí právě v tomto adresáři.
                    Po skončení příkazu kontejner okamžitě zanikne díky volbě <tt>--rm</tt>.
                    Dokumentaci dalších voleb naleznete v
                    <a href="https://docs.docker.com/engine/reference/run/">(anglické)
                    dokumentaci Dockeru</a>.
                </li>
                <li>
                    Volitelně odstraníme obraz, aby nám nezabíral místo na disku:
                    <code class="ukazka_kodu">
                        $ <b>docker rmi texlive/texlive</b>
                    </code>
                </li>
            </ol>
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>

    <!-- Návěští sekce. -->
    <h3>
        <span id="prvni-zkouska-texu">
            První vyzkoušení TeXových nástrojů
        </span>
    </h3>
    <p class="practice_description">
        Pro první seznámení s&nbsp;TeXem si vyzkoušejte několik nejzákladnějších 
        programů:
    </p>
    <ul>
        <li>
            <tt>latex sample2e</tt> pro přeložení anglického dokumentu 
            <tt>sample2e.tex</tt> do DVI.
        </li>
        <li>
            <tt>pdflatex sample2e</tt> pro přeložení <tt>sample2e.tex</tt> 
            do formátu PDF.
        </li>
        <li>
            <tt>xdvi sample2e</tt> nebo <tt>dviout sample2e.dvi</tt> pro
            prohlížení <tt>sample2e.dvi</tt>.
        </li>
        <li>
            <tt>dvips sample2e</tt> pro vytvoření PostScriptu 
            <tt>sample2e.ps</tt> z&nbsp;<tt>sample2e.dvi</tt>.
        </li>
        <li>
            <tt>dvipdfmx sample2e</tt> pro vytvoření PDF z&nbsp;DVI.
        </li>
        <li>
            <tt>gv sample2e.ps</tt> pro prohlížení PostScriptu (nebo také
            PDF) pomocí programu GSView.
        </li>
        <li>
            <tt>evince sample2e.pdf</tt> pro prohlížení PDF pomocí
            programu Evince.
        </li>
    </ul>
    <p class="practice_description">
        Při práci se systémem Windows zjistěte cestu k&nbsp;souboru
        <tt>sample2e.tex</tt> přes terminál příkazem <tt>kpsewhich
        sample2e.tex</tt> a&nbsp;následně si soubor z&nbsp;uvedené cesty
        zkopírujte do pracovního adresáře. První sezení v&nbsp;unixovém
        terminálu by mohlo vypadat např. takto:
    </p>
    <code class="ukazka_kodu">
        # vytvoření pracovního adresáře<br/>
        mkdir tex; cd tex<br/><br/>

        # přidání modulů<br/>
        module add texlive<br/><br/>

        # nalezení a&nbsp;zkopírování příkladu LaTeXového souboru<br/>
        # s&nbsp;názvem sample2e.tex do běžného adresáře<br/>
        kpsewhich sample2e.tex<br/>
        cp -vi $(kpsewhich sample2e.tex) .<br/><br/>

        # překlad dokumentu sample2e.tex do DVI<br/>
        latex sample2e<br/>
        # prohlížení vysázeného dokumentu sample2e.dvi<br/>
        xdvi sample2e &amp;<br/><br/>

        # konverze DVI do PostScriptu<br/>
        dvips sample2e -o sample2e-dvips.ps<br/>
        # prohlížení výsledného sample2e-dvips.ps<br/>
        gv sample2e-dvips.ps<br/><br/>

        # konverze DVI do PDF<br/>
        dvipdfmx -o sample2e-dvipdfmx.pdf sample2e<br/>
        # konverze PostScriptu do PDF<br/>
        ps2pdf sample2e-dvips.ps<br/><br/>
        # prohlížení výsledného PDF v několika variantách<br/>
        evince sample2e-dvipdfmx.pdf &amp;<br/>
        gv sample2e-dvipdfmx.pdf &amp;<br/>

        # přímé vytvoření PDF pdftexem<br/>
        pdflatex sample2e<br/>
        # prohlížení výsledného PDF v několika variantách<br/>
        evince sample2e.pdf &amp;<br/>
        gv sample2e.pdf &amp;<br/>
    </code>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tex-on-line">
            TeX on-line
        </span>
    </h3>
    <p class="practice_description">
        Vyzkoušejte si on-line prostředí pro práci s&nbsp;TeXem:
    </p>
    <ul>
        <li>
            <a href="https://www.overleaf.com/edu/fimuni">Overleaf</a>
            (fakultním e-mailem zpřístupníte Pro účet, více informací na
            <a href="https://www.fi.muni.cz/tech/overleaf.html">fakultním webu</a>)
        </li>
        <li>
            <a href="https://tex.mendelu.cz/new/">TeXonWeb</a> Mendelovy univerzity v&nbsp;Brně
        </li>
        <li>
            <a href="http://sciencesoft.at/latex/?lang=en">ScienceSoft.at</a>
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
