<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Sazba závěrečných prací a&nbsp;prezentací</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Závěrečné vysokoškolské práce jsou komplexní dokumenty, při jejichž
        přípravě lze s&nbsp;výhodou využít LaTeX, který umožňuje snadno vkládat
        tabulky, diagramy a&nbsp;ilustrace pomocí plovoucích prostředí
        a&nbsp;automaticky generovat bibliografii, rejstřík nebo glosář. Při
        přípravě prezentace k&nbsp;obhajobě pak lze části závěrečné práce znovu
        použít s&nbsp;pomocí LaTeXové třídy
        <a href="http://www.ctan.org/pkg/beamer"><tt>beamer</tt></a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="zaverecne-prace">
            Sazba závěrečných prací
        </span>
    </h2>
    <p>
        Při přípravě závěrečné práce můžeme použít standardní LaTeXové třídy
        <tt><a href="http://www.ctan.org/pkg/report">report</a></tt> nebo
        <tt><a href="http://www.ctan.org/pkg/book">book</a></tt>, případně
        jejich obdoby
        <tt><a href="http://www.ctan.org/pkg/scrreprt">scrreprt</a></tt>
        a&nbsp;<tt><a href="http://www.ctan.org/pkg/scrbook">scrbook</a></tt>
        z&nbsp;balíčku
        <a href="http://www.ctan.org/pkg/koma-script">KOMA-Script</a>,
        které ctí evropské typografické konvence. V&nbsp;takovém případě však
        musíme ručně zajistit, že práce bude ctít veškeré formální
        náležitosti, které předepisuje příslušná fakulta, oddělení nebo
        ústav. Formální náležitosti závěrečných prací připravovaných na Fakultě
        informatiky naleznete
        <a href="https://www.fi.muni.cz/files/studijni/bp-dp-na-fi-v070421.pdf">v&nbsp;tomto
        dokumentu</a> (rozcestník
        <a href="https://www.fi.muni.cz/studies/bachelor-diploma-theses.html">Vypracování
        a odevzdání práce | Závěr studia | Studenti</a>).
        V&nbsp;případě jiných fakult, ústavů a&nbsp;oddělení konzultujte
        <a href="https://is.muni.cz/th/j1482/">bakalářskou diplomovou práci
        Marie Staré</a> (z roku 2015), nebo <a href="https://is.muni.cz/th/nghf5/">bakalářskou
        práci Terezy Vrabcové</a> (z roku 2021).
    </p>
    <p>
        Vždy je důležité znát formální náležitosti závěrečných prací, ale
        s&nbsp;jejich splněním může výrazně napomoci šablona, která je pro
        přípravu závěrečných prací přímo určená. Na Masarykově univerzitě
        k&nbsp;tomuto účelu slouží LaTeXová třída
        <tt><a href="http://www.fi.muni.cz/lemma/projekty/fithesis#fithesis">fithesis</a></tt>,
        která na základě zadaných informací automaticky vysází povinné části
        závěrečné práce, čímž autorovi umožňuje soustředit se výhradně na
        obsah práce. Přírodovědecká fakulta pak poskytuje LaTeXovou šablonu
        <a href="https://is.muni.cz/auth/do/sci/stud/ZP/sablony/"><tt>sci.muni.thesis</tt></a>,
        kterou je možné použít při přípravě závěrečné práce na
        Přírodovědecké fakultě</a>.
    </p>
    <p>
        Pro seznámení s&nbsp;třídou
        <tt><a href="http://www.fi.muni.cz/lemma/projekty/fithesis#fithesis">fithesis</a></tt>
        si z galerie služby <a href="https://www.fi.muni.cz/tech/overleaf.html.cs">Overleaf</a>
        otevřete <a href="https://cs.overleaf.com/edu/fimuni#templates">ukázkový
        dokument</a> pro příslušnou fakultu.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="prezentace">
            Sazba prezentací
        </span>
    </h2>

    <p>
        Kromě programů, jako je Microsoft PowerPoint nebo LibreOffice Impress,
        je možné pro přípravu prezentací použít také LaTeXovou třídu
        <tt><a href="http://www.ctan.org/pkg/beamer">beamer</a></tt>. To je
        výhodné, pokud připravujeme prezentaci na základě existujícího
        LaTeXového dokumentu. Pro základní seznámení s&nbsp;třídou
        <tt>beamer</tt> si vysázejte ukázkový dokument
        <a href="files/bez-temat.tex"><tt>bez-temat.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/vtbprnqgvgyf">službě Overleaf</a>):
        <code class="ukazka_kodu">
            pdflatex <a href="files/bez-temat.tex">bez-temat.tex</a><br/>
            pdflatex <a href="files/bez-temat.tex">bez-temat.tex</a>
        </code>
    </p>
    <p>
        Stejně tak můžeme postupovat opačně a&nbsp;ze zdrojového kódu
        <tt>beamer</tt> prezentace připravit článek. K&nbsp;tomuto účelu
        slouží balíček <tt>beamerarticle</tt>, který po uvedení
        v&nbsp;preambuli a&nbsp;změně třídy dokumentu na <tt>article</tt>
        vysází prezentaci jako článek. Pro vyzkoušení konverze
        si vysázejte ukázkové dokumenty
        <tt><a href="files/jako-clanek.tex">jako-clanek.tex</a></tt>
        (dostupný také na <a href="https://www.overleaf.com/read/smmsxvzgbrdt">službě Overleaf</a>)
        a <tt><a href="files/jako-bp.tex">jako-bp.tex</a></tt>
        (dostupný také na <a href="https://www.overleaf.com/read/yhknckgvrqsz">službě Overleaf</a>):
        <code class="ukazka_kodu">
            pdflatex <a href="files/jako-clanek.tex">jako-clanek.tex</a><br/>
            pdflatex <a href="files/jako-clanek.tex">jako-clanek.tex</a><br/>
            pdflatex <a href="files/jako-bp.tex">jako-bp.tex</a><br/>
            pdflatex <a href="files/jako-bp.tex">jako-bp.tex</a>
        </code>
        Více informací naleznete v&nbsp;sekci 21.2 
        <a href="http://mirrors.ctan.org/macros/latex/contrib/beamer/doc/beameruserguide.pdf">manuálu
        balíčku <tt>beamer</tt></a>.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="vzhled">
            Úprava vzhledu dokumentů třídy <tt>beamer</tt>
        </span>
    </h3>
    <p>
        Pro úpravy vzhledu prezentace slouží témata. Témata mohou nastavovat
        barvy, fonty, vzhled navigačních prvků na okrajích slajdů a&nbsp;vzhled
        strukturních prvků uvnitř slajdů. Tato témata lze vzájemně kombinovat,
        nebo je možné načíst některou z&nbsp;předvolených kombinací. Seznam
        dostupných témat je dostupný v&nbsp;patnácté kapitole
        <a href="http://mirrors.ctan.org/macros/latex/contrib/beamer/doc/beameruserguide.pdf">manuálu
        balíčku <tt>beamer</tt></a>, na poslední straně
        <a href="http://www.cpt.univ-mrs.fr/~masson/latex/Beamer-appearance-cheat-sheet.pdf">beamer
        appearance cheat sheetu</a> nebo ve
        <a href="https://web.archive.org/web/20210513163637/https://deic-web.uab.cat/~iblanes/beamer_gallery/index.html">webové
        galerii</a>. Pro základní ukázku témat si vysázejte ukázkový dokument
        <a href="files/s-tematy.tex"><tt>s-tematy.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/hyptxryvygyg">službě Overleaf</a>):
        <code class="ukazka_kodu">
            pdflatex <a href="files/s-tematy.tex">s-tematy.tex</a><br/>
            pdflatex <a href="files/s-tematy.tex">s-tematy.tex</a>
        </code>
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="mubeamer">
          Téma <tt>mubeamer</tt>
        </span>
    </h3>
    <p>
        Pro přípravu prezentací podle jednotného vizuálního stylu Masarykovy
        univerzity slouží téma
        <a href="https://www.fi.muni.cz/lemma/projekty/mubeamer/"><tt>mubeamer</tt></a>.
        Pro seznámení si z galerie služby <a
        href="https://www.fi.muni.cz/tech/overleaf.html.cs">Overleaf</a>
        otevřete <a href="https://cs.overleaf.com/edu/fimuni#templates">ukázkový
        dokument</a> pro příslušnou fakultu.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Zkuste si u&nbsp;ukázkového dokumentu
            <a href="files/s-tematy.tex"><tt>s-tematy.tex</tt></a>
            (dostupného také na <a href="https://www.overleaf.com/read/hyptxryvygyg">službě Overleaf</a>)
            použít různé kombinace témat.
        </li>
        <li>
            Vyberte si <a href="../../finalwork/#tex">zadání svého prvního zápočtového dokumentu</a>:
            <ul>
                <li>
                    Při přípravě životopisu najděte v <a href="https://ctan.org/topic/cv">katalogu CTAN</a>,
                    nebo v <a href="https://www.overleaf.com/gallery?q=cv">galerii služby Overleaf</a>
                    vhodnou šablonu pro přípravu strukturovaného životopisu a doplňte do šablony základní
                    informace o sobě.
                </li>
                <li>
                    Při přípravě referátu
                    vyberte s vyučujícím téma a doplňte základní metadata svého dokumentu do šablony
                    <a href="https://www.cstug.cz/bulletin/bulstyl.shtml"><tt>csbulletin</tt></a>
                    (dostupné také na <a href="https://www.overleaf.com/latex/templates/cstug-bulletin-article/yjdcyxtkmxmz">službě Overleaf</a>).
                </li>
            </ul>
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
