<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Různé podoby TeXu</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Ve světě TeXu velmi rychle narazíte na spoustu <i>*</i>TeX pojmů, 
        např. TeX, e-TeX, pdfTeX, XeTeX, LuaTeX, plain TeX, LaTeX, ConTeXt 
        a&nbsp;další. Zde se v&nbsp;nich pokusíme udělat pořádek 
        a&nbsp;ukázat si rozdíly mezi nimi na příkladech.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="tex-jazyk-program-system-a-ekosystem">
            TeX: Jazyk, program, sazební systém a&nbsp;ekosystém
        </span>
    </h2>
    <p>
        TeX je makrojazyk pro sazbu dokumentů navržený v&nbsp;70.
        a&nbsp;80. letech minulého století americkým profesorem Donaldem
        Ervinem Knuthem. Na rozdíl od většiny ostatních systémů na přípravu
        dokumentů klade TeX nezvyklý důraz na sazbu matematiky. Základním
        prostředkem abstrakce v&nbsp;TeXu jsou uživatelská makra, jejichž
        výskyty ve vstupním dokumentu jsou při zpracování nahrazovány
        definicemi. TeXem rovněž rozumíme interpret jazyka TeXu
        (<a href="#kompilatory-texu">TeXový kompilátor</a>).
    </p>
    <p>
        V&nbsp;širší rovině označujeme TeXem sazební systém sestávající
        z&nbsp;<a href="#tex">Knuthova TeXového kompilátoru</a>, programu
        Metafont (který probereme v&nbsp;<a href="../obrazky-v-texu">budoucím
        cvičení</a>) a&nbsp;rodiny písem Computer Modern. V&nbsp;této
        podobě Knuth systém během 80. let minulého století uveřejnil. Od
        roku 1990 již tento systém není v&nbsp;aktivním vývoji
        a&nbsp;dochází pouze k&nbsp;odstraňování chyb. Čísla verzí programů
        TeXu a&nbsp;Metafontu
        <a href="http://www.ntg.nl/maps/05/34.pdf">postupně konvergují
        k&nbsp;iracionálním číslům π a&nbsp;e</a>; po smrti Donalda Knutha
        se verze programů změní na zmíněné konstanty a&nbsp;veškeré
        neopravené implementační chyby budou již pouze dokumentovány.
    </p>
    <p>
        Díky <a href="https://www.gnu.org/philosophy/free-sw.cs.html">svobodnému</a>
        a&nbsp;otevřenému zdrojovému kódu se kolem TeXu (sazebního systému)
        utvořila aktivní komunita uživatelů a&nbsp;došlo ke vzniku
        bohatého ekosystému odvozených <a href="#kompilatory-texu">kompilátorů</a>,
        <a href="#texove-formaty">formátů</a>, makrobalíků, fontů
        a&nbsp;rozšiřujících programů. Ty jsou od roku 1992
        shromažďovány na internetovém archivu <a href="http://ctan.org/">
        <abbr title="Comprehensive TeX Archive Network">CTAN</abbr>u</a>
        a&nbsp;distribuovány ve formě TeXových distribucí (ty jsme stručně
        probrali <a href="../software#tex-mimo-fi">v&nbsp;úvodním
        cvičení</a>). Často se proto setkáme s&nbsp;tím, že libovolné
        softwarové řešení postavené na součástech TeXových distribucí je
        volně označováno jako TeX (v&nbsp;akademickém světě jde typicky
        o&nbsp;spojení <a href="#pdftex">kompilátoru pdfTeXu</a>
        s&nbsp;<a href="#latex">formátem LaTeXu</a>).
    </p>


    <!-- Návěští sekce. -->
    <h2>
        <span id="kompilatory-texu">
            TeXové kompilátory (TeX engines)
        </span>
    </h2>
    <p>
        Část <i>*</i>TeX termínů odkazuje na různé implementace kompilátorů 
        TeXového zdrojového textu, tzn. binární programy, které načtou 
        zdrojový text a&nbsp;převedou jej na vysázený výstupní dokument.
    </p>
    <p>
        Samotný kompilátor rozumí jen naprosto základním příkazům, tzv. 
        primitivům jazyka. Právě rozsah podporovaných primitiv tvoří 
        nejzásadnější rozdíly mezi různými kompilátory TeXu.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tex">
            Původní TeX Donalda Knutha
        </span>
    </h3>
    <ul>
        <li>
            <a href="http://www.ctan.org/ctan-portal/tex/">Kompilátor 
            odpovídající původnímu popisu TeXu</a>, jak jej definoval 
            <a href="http://www-cs-faculty.stanford.edu/~knuth/">Donald 
            Knuth</a> v&nbsp;knize The TeXbook, 
            respektive některé jeho modernější revizi rozšířené o&nbsp;další 
            primitiva:
            <ul>
                <li>
                    TeX82&nbsp;– TeX verze&nbsp;2 z&nbsp;roku 1982 podporující 
                    stále jen 7bitový vstup.
                </li>
                <li>
                    TeX90&nbsp;– TeX verze&nbsp;3 z&nbsp;roku 1990 podporující 
                    již 8bitový vstup.
                </li>
            </ul>
        </li>
        <li>
            V&nbsp;moderních TeXových distribucích se používá pouze při použití 
            <a href="#texove-formaty">formátu</a> plain.
        </li>
        <li id="dvi">
            Původní implementace TeXu zavedla v&nbsp;roce 1979 pro popis výsledné 
            vysázené podoby dokumentu na zařízení nezávislý binární formát 
            <strong>DVI</strong>
            (<a href="https://en.wikipedia.org/wiki/Device_independent_file_format">Device
            Independent File Format</a>). Tento formát je TeXem stále běžně 
            podporován, většina uživatelů však dává přednost přímému 
            generování dokumentů ve formátu PDF, které umožňují některé 
            novější implementace TeXových kompilátorů.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="etex">
            e-TeX
        </span>
    </h3>
    <ul>
        <li>
            <a href="http://ctan.org/pkg/etex/">e-TeX</a> je původní TeX
            rozšířený o&nbsp;řadu nových primitiv, např. pro obousměrnou
            sazbu (rozšíření TeX–XeT).
        </li>
        <li>
            e-TeX rozšíření jsou vestavěna do všech novějších kompilátorů, 
            takže e-TeX samotný se používá zřídka.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="pdftex">
            pdfTeX
        </span>
    </h3>
    <ul>
        <li>
            <a href="http://www.pdftex.org/">pdfTeX</a> implementuje e-TeX
            a&nbsp;přidává řadu vlastních primitiv, zejména pro podporu
            výstupu do formátu PDF a&nbsp;využití jeho různých speciálních
            vlastností, nebo pro ovládání mikrotypografických rozšíření
            (která probereme
            v&nbsp;<a href="../mikrotypografie">budoucím cvičení</a>).
        </li>
        <li>
            pdfTeX umí produkovat nejen PDF, ale také formát
            <a href="#dvi">DVI</a> z&nbsp;Knuthova TeXu. Z&nbsp;toho důvodu
            je dnes pdfTeX typicky používán při kompilaci TeXových
            dokumentů do DVI i&nbsp;PDF.
        </li>
        <li>
            pdfTeX je v&nbsp;současnosti de-facto standardním kompilátorem pro
            přípravu TeXových dokumentů.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="xetex">
            XeTeX
        </span>
    </h3>
    <ul>
        <li>
            Kompilátor <a href="https://www.tug.org/xetex/">XeTeX</a>
            implementuje rozšíření e-TeX a&nbsp;některá primitiva zavedená
            pdfTeXem.
        </li>
        <li>
            Velkým rozdílem XeTeXu oproti výše zmíněným TeXovým
            kompilátorům je, že nativně pracuje s&nbsp;UTF-8 kódovaným
            zdrojovým textem na vstupu.
        </li>
        <li>
            Oproti výše zmíněným TeXovým kompilátorům umožňuje využívat fonty 
            dostupné v&nbsp;operačním systému (využívá knihovny daného systému), 
            nikoliv jen fonty z&nbsp;TeXové distribuce připravené pro použití 
            TeXem.
        </li>
        <li>
            Prezentace schopností XeTeXu byla předmětem přednášky „XeTeX:
            TeX plus Unicode plus OpenType minus complexity“, kterou
            Jonathan Kew přednesl v&nbsp;roce 2007 na FI&nbsp;MU. Ke
            stažení jsou k&nbsp;dispozici 
            <a href="https://www.cstug.cz/old/aktivity/2007/CSTUG-talk.pdf">slajdy</a> 
            a&nbsp;<a href="http://www.video.muni.cz/public/xetex/xetex.avi">videozáznam</a>.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="luatex">
            LuaTeX
        </span>
    </h3>
    <ul>
        <li>
            <a href="http://www.luatex.org/">LuaTeX</a> implementuje
            rozšíření e-TeX a&nbsp;některá primitiva zavedená pdfTeXem
            (konkrétně i&nbsp;ta, která umožňují ovládání mikrotypografických
            rozšíření).
        </li>
        <li>
            LuaTeX stejně jako XeTeX nativně pracuje s&nbsp;UTF-8 kódovaným
            zdrojovým textem na vstupu a&nbsp;umožňuje využívat fonty
            dostupné v&nbsp;operačním systému. Většinu ukázek pro XeTeX, se
            kterými se ve zbytku kurzu setkáme, je možné beze změn zpracovat
            i strojem LuaTeX.
        </li>
        <li>
            Zásadním rozdílem LuaTeXu oproti všem ostatním uvedeným
            kompilátorům je, že obsahuje podporu pro skriptování
            v&nbsp;programovacím jazyce <a href="http://www.lua.org/">Lua</a>
            v&nbsp;rámci zdrojového textu dokumentu. Lua skript může
            zasahovat do procesu kompilace a&nbsp;ovlivnit tak výslednou
            podobu vysázeného dokumentu. Toto má následující výhody:
            <ul>
                <li>
                    Uživatel může části dokumentu generovat pomocí dobře
                    přístupného skriptovacího imperativního jazyka namísto
                    makrojazyka TeXu. Používat skriptovací jazyky uvnitř
                    dokumentů je sice možné pomocí rozšiřujících balíčků již
                    nyní (viz např.
                    <a href="https://www.ctan.org/pkg/perltex">PerlTeX</a>),
                    ale jazyk Lua má tu výhodu, že jeho interpret je zahrnut
                    přímo do kompilátoru LuaTeXu, díky čemuž netrpí
                    přenositelnost výsledných dokumentů.
                </li>
                <li>
                    Kvůli chybějící nízkoúrovňové funkcionalitě není nutné
                    vytvářet nové TeXové kompilátory, stačí rozšířit
                    chování stávajícího kompilátoru pomocí jazyka Lua.
                    Takto je v&nbsp;LuaTeXu implementována podpora lokálně
                    instalovaných OpenType a&nbsp;TrueType fontů, zatímco
                    v&nbsp;XeTeXu je tato podpora řešena „natvrdo“ pomocí
                    rozšiřujících TeXových primitiv.
                </li>
            </ul>
        </li>
        <li>
            LuaTeX byl posledních několik let ve stádiu aktivního vývoje.
            Vydání první stabilní verze
            <a href="http://tug.org/pipermail/luatex/2016-September/006201.html">proběhlo</a>
            při příležitosti <a href="http://meeting.contextgarden.net/2016/">desátého
            setkání uživatelů ConTeXtu</a>, které se konalo na podzim roku 2016
            v&nbsp;Nizozemsku. Očekává se, že v&nbsp;dohledné budoucnosti
            LuaTeX nahradí pdfTeX v&nbsp;roli de-facto standardního
            kompilátoru TeXových dokumentů; zatím ale většina uživatelů nemá důvod přejít.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="texove-formaty">
            TeXové formáty
        </span>
    </h2>
    <p>
        Jelikož samotný kompilátor rozumí jen naprosto základním příkazům, 
        tzv. primitivům jazyka, bylo by mimořádně nepohodlné používat tyto 
        nízkoúrovňové příkazy pro tvorbu dokumentu. S&nbsp;pomocí těchto 
        základních primitiv jsou proto vybudovány makrojazyky&nbsp;– 
        formáty&nbsp;– určené pro použití koncovým uživatelem při 
        formátování textu.
    </p>
    <p>
        V&nbsp;rámci formátu jsou definovány nové makropříkazy, které mohou 
        používat jak primitiva jazyka, tak dříve definovaná makra. 
        Samotný uživatel samozřejmě může ve svém zdrojovém textu používat 
        jak přímo primitiva jazyka, tak makra definovaná v&nbsp;používaném 
        formátu, a&nbsp;nebo obojí využít k&nbsp;definici vlastních maker. 
    </p>
    <p>
        TeXových formátů je mnoho (a&nbsp;uživatelé si mohou definovat 
        i&nbsp;vlastní). Zde se proto v&nbsp;krátkosti zmíníme jen o&nbsp;těch 
        nejdůležitějších:
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="plaintex">
            plain TeX
        </span>
    </h3>
    <ul>
        <li>
            <a href="https://en.wikibooks.org/wiki/LaTeX/Plain_TeX">plain 
            TeX</a> je minimální základní sada maker určená pro použití 
            koncovým uživatelem. Většina maker pro sazbu běžných, ovšem ne 
            <em>elementárních</em>, prvků dokumentů (například makro pro 
            vysazení titulní stránky dokumentu s&nbsp;nadpisem a&nbsp;jménem autora), 
            zde <em>nejsou</em> definována a&nbsp;je na koncovém uživateli, aby 
            si je nadefinoval sám dle potřeb vytvářeného dokumentu pomocí 
            jednodušších maker a&nbsp;primitivů jazyka.
        </li>
        <li>
            Vzhledem k&nbsp;rozumnému množství maker plain TeXu a&nbsp;jejich
            uživatelské oblibě je množina maker nabízených ostatními
            TeXovými formáty typicky nadmnožinou plain TeXu (v&nbsp;rozmezí
            drobných odchylek).
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="csplain">
            csplain
        </span>
    </h3>
    <ul>
        <li>
            <a href="https://petr.olsak.net/csplain.html">csplain</a>
            je:
            <blockquote cite="https://petr.olsak.net/csplain.html">
                [&hellip;] konzervativní rozšíření plain TeXu Donalda Knutha. Rozdíl 
                mezi formátem plain a&nbsp;formátem csplain spočívá v&nbsp;tom, že 
                místo CM fontů se pracuje implicitně s&nbsp;CS-fonty, což 
                umožňuje:
                <ul>
                    <li>přímé zpracování znaků české a&nbsp;slovenské abecedy,</li>
                    <li>zavedení vzorů dělení pro český a&nbsp;slovenský jazyk.</li>
                </ul>
            </blockquote> 
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="latex">
            LaTeX
        </span>
    </h3>
    <ul>
        <li>
            <a href="http://www.latex-project.org/">LaTeX</a> je 
            pravděpodobně nejrozšířenější a&nbsp;nejznámější TeXový formát. 
            Obsahuje rozsáhlý ucelený balík maker připravený pro snadnou 
            a&nbsp;rychlou sazbu technických dokumentů koncovým uživatelem&nbsp;– 
            obsahuje například předpřipravené šablony pro sazbu odborných 
            článků s&nbsp;předpřipravenými makry pro formátování všech prvků 
            dokumentu včetně titulní stránky s&nbsp;názvem a&nbsp;autorem dokumentu, 
            abstraktu, záhlaví a&nbsp;zápatí stránek s&nbsp;číslováním a&nbsp;záhlavími 
            kapitol, seznamem použité literatury atd. 
        </li>
        <li>
            LaTeX je postaven na systému 
            <a href="https://www.ctan.org/pkg">rozšiřujících 
            balíčků</a>&nbsp;– samostatné menší sady maker rozšiřující 
            schopnosti samotného LaTeXu o&nbsp;nějakou ucelenou
            funkcionalitu.
            <ul>
                <li>
                    Například balíček 
                    <tt><a href="https://www.ctan.org/pkg/cropmark">cropmark</a></tt>
                    přidává k&nbsp;základnímu LaTeXu makra pro sazbu tiskových 
                    ořezových značek.
                </li>
                <li>
                    Balíčky, které mají být při kompilaci dokumentu použity,
                    se zavádí v&nbsp;hlavičce LaTeXového dokumentu příkazem:
                    <code class="ukazka_kodu">
                        \usepackage{<i>jméno_balíčku</i>}
                    </code>
                </li>
                <li>
                    Pokud používáte některou z&nbsp;rozsáhlejších TeXových
                    distribucí, jako je <a href="https://www.tug.org/texlive/">TeX 
                    Live</a> či <a href="http://miktex.org/">MikTeX</a>,
                    pravděpodobně je součástí vaší instalace i&nbsp;rozsáhlá
                    databáze dodatečných balíčků. Nebudete je tedy muset
                    získávat ručně. Pokud potřebujete novější verzi
                    balíčků, nebo balíček, který není součástí vaší TeXové
                    distribuce, tak jako startovací bod pro hledání můžete
                    využít 
                    <a href="http://mirrors.ctan.org/obsolete/help/Catalogue/bytopic.html">tematický
                    online TeX katalog</a> nebo <a href="https://www.ctan.org/topics/cloud">tematický
                    katalog CTAN</a>.
                </li>
            </ul>
        </li>
    </ul>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Dokumentaci (nejen) k&nbsp;LaTeXovým balíčkům nemusíte hledat na 
            webu, stačí si zobrazit dokumentaci z&nbsp;vaší TeXové instalace:
            <code class="ukazka_kodu">
                texdoc <i>&lt;objekt&gt;</i><br/>
                texdoc cropmark<br/>
            </code>
            Použitím lokální instalace navíc zajistíte, že popisuje vámi 
            použivanou verzi dokumentovaného objektu.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h3>
        <span id="context">
            ConTeXt
        </span>
    </h3>
    <ul>
        <li>
            <a href="http://www.contextgarden.net/">ConTeXt</a> je velmi 
            rozsáhlý systém pro sazbu dokumentů. Svou syntaxí je 
            značně vzdálený od plainu i&nbsp;LaTeXu.
        </li>
        <li>
            V&nbsp;porovnáním s&nbsp;LaTeXem nabízí ConTeXt podstatně bohatší
            funkcionalitu, která je na rozdíl od LaTeXu integrována přímo
            do formátu &ndash; prakticky zde tedy neexistují
            <a href="http://wiki.contextgarden.net/Modules">balíčky
            třetích stran</a>.
        </li>
        <li>
            ConTeXt je od základu navržen tak, aby byl schopný zpracovávat
            strukturované XML dokumenty a aby bylo možné převést ConTeXtové
            dokumenty do strukturovaných XML dokumentů. To je výhodné při
            databázovém publikování, nebo při generování výstupu pro
            elektronické knihy. Jednodušší formáty typu LaTeX si takové cíle
            nekladou a výše zmíněnou funkcionalitu je třeba nahradit externími
            programy.
        </li>
        <li>
            ConTeXt je rozdělen na
            <a href="http://wiki.contextgarden.net/Mark_II#How_does_ConTeXt_versioning_work.3F">dva formáty</a>:
            <ul>
                <li>
                    MarkII je starší formát, který pracuje s&nbsp;kompilátory
                    <a href="#pdftex">pdfTeXu</a>, <a href="#xetex">XeTeXu</a>
                    a&nbsp;<a href="#luatex">LuaTeXu</a>. V&nbsp;současnosti již není
                    aktivně vyvíjen, pouze udržován.
                </li>
                <li>
                    MarkIV je aktivně vyvíjený formát, který pracuje
                    výhradně s&nbsp;kompilátorem <a href="#luatex">LuaTeXu</a>.
                    Formát MarkIV je s&nbsp;formátem MarkII zpětně kompatibilní
                    a&nbsp;je tedy možné dokumenty ve formátu MarkII relativně
                    bezbolestně vysázet s&nbsp;využitím nového formátu (ačkoliv
                    výstup nemusí být zcela totožný). Opačně toto neplatí
                    a&nbsp;mnoho pokročilých funkcí formátu MarkIV je ve
                    formátu MarkII nedostupných.
                </li>
            </ul>
        </li>
        <li>
            ConTeXt je pravděpodobně nejmodernějším a&nbsp;nejmocnějším
            TeXovým formátem. Na druhou stranu je jeho vývoj poměrně
            živelný, často motivovaný primárně potřebami jeho autora Hanse
            Hagena a&nbsp;společnosti
            <a href="http://www.pragma-ade.com/">PRAGMA Advanced Document
            Engineering</a>.
        </li>
        <li>
            Dokumentace ConTeXtu je dostupná online v&nbsp;rámci
            <a href="http://wiki.contextgarden.net">ConTeXt Garden wiki</a>
            a&nbsp;<a href="http://www.pragma-ade.com/overview.htm">tematických
            manuálů</a>. Základy ConTeXtu pak shrnuje např.
            <a href="http://econ.muni.cz/~qasar/papers/contbul2001.pdf">článek Michala
            Kvasničky ve Zpravodaji CSTUG z&nbsp;roku 2001</a>.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="prakticke-pouziti">
            Praktické použití
        </span>
    </h2>
    <p>
        Jelikož základní sada TeXových primitiv je společná, založená na 
        <a href="#tex">původním TeXu Donalda Knutha</a>, tak v&nbsp;zásadě můžete 
        každý formát použít s&nbsp;libovolným <a href="#kompilatory-texu">TeXovým 
        kompilátorem</a> (za předpokladu, že vy ani formát nevyužíváte
        rozšiřující primitiva některého z&nbsp;kompilátorů).
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="plaintex-example">
            plain TeX
        </span>
    </h3>
    <p>
        Nejjednodušším formátem je <a href="#plaintex">plain TeX</a>, kde 
        není třeba dokument začínat žádnou komplikovanou hlavičkou. Do 
        textového souboru (pojmenovaného např. 
        <tt>muj-plaintex-zdrojak.tex</tt>) si uložte následující kód:
    </p>
    <code class="ukazka_kodu">
        Hello World! -- This is my {\it first} \TeX{} document.<br/>
        \end
    </code>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Při používání 
            <a href="../software/#pripojeni-k-unixu-z-windows">PuTTY
            pro připojení k&nbsp;unixovém serveru</a> můžete text přenášet přes
            schránku:
        </p>
        <ul>
            <li><tt>Ctrl&nbsp;+&nbsp;Insert</tt>: kopírovat</li>
            <li><tt>Shift&nbsp;+&nbsp;Insert</tt>: vložit</li>
        </ul>
    </div>
    <p>
        Tento dokument ve <a href="#texove-formaty">formátu</a> 
        <a href="#plaintex">plain TeX</a> můžete následně přeložit 
        libovolným <a href="#kompilatory-texu">TeXovým kompilátorem</a>:
    </p>
    <ul>
        <li>
            Pomocí původního <a href="#tex">TeX</a> kompilátoru do 
            <a href="#dvi">DVI</a> příkazem: 
            <code class="ukazka_kodu">tex muj-plaintex-zdrojak.tex</code>
        </li>
        <li>
            Pomocí kompilátoru <a href="#pdftex">pdfTeX</a> do PDF 
            příkazem: 
            <code class="ukazka_kodu">pdftex muj-plaintex-zdrojak.tex</code>
        </li>
        <li>
            Pomocí kompilátoru <a href="#xetex">XeTeX</a> do PDF 
            příkazem: 
            <code class="ukazka_kodu">xetex muj-plaintex-zdrojak.tex</code>
        </li>
        <li>
            Pomocí kompilátoru <a href="#luatex">LuaTeX</a> do PDF 
            příkazem: 
            <code class="ukazka_kodu">luatex muj-plaintex-zdrojak.tex</code>
        </li>
    </ul>
    <p>
        Ukázkový dokument pro plain TeX si můžete přeložit a prohlédnout i na
        <a href="https://www.overleaf.com/read/nsbdjrtmbpbq">službě Overleaf</a>.
        Vizte také článek
        <a href="https://www.overleaf.com/learn/latex/Questions/Can_I_run_plain_TeX_on_Overleaf%3F">Can I run plain TeX on Overleaf?</a>
        v dokumentaci služby Overleaf.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="latex-example">
            LaTeX
        </span>
    </h3>
    <p>
        Formát <a href="#latex">LaTeX</a> je složitější a&nbsp;ve zdrojovém textu 
        již vyžaduje jistou minimální hlavičku. Pro rychlé vyzkoušení tedy 
        můžeme využít například standardní ukázkový dokument 
        <tt>sample2e.tex</tt>, který je součástí TeXové distribuce.
    </p>
    <ul>
        <li>
            Pomocí příkazu <tt>kpsewhich</tt> najděte v&nbsp;TeXové instalaci 
            soubor <tt>sample2e.tex</tt> a&nbsp;zkopírujte si jej do pracovního 
            adresáře. Viz 
            <a href="../software/#prvni-zkouska-texu">předchozí cvičení</a>.
        </li>
    </ul>
    <p>
        Dokument <tt>sample2e.tex</tt> ve <a href="#texove-formaty">formátu</a> 
        <a href="#latex">LaTeX</a> můžete následně přeložit 
        libovolným <a href="#kompilatory-texu">TeXovým kompilátorem</a>:
    </p>
    <ul>
        <li>
            Pomocí kompilátoru <a href="#pdftex">pdfTeX</a> do 
            <a href="#dvi">DVI</a> příkazem: 
            <code class="ukazka_kodu">pdftex -fmt=latex -output-format=dvi sample2e.tex</code>
            <ul>
                <li>
                    Povšimněte si parametru <tt>-fmt</tt>, který říká, že 
                    kompilátor nemá použít výchozí formát 
                    <a href="#plaintex">plain TeX</a>, ale formát 
                    <a href="#latex">LaTeX</a>.
                </li>
                <li>
                    Aby bylo použití různých TeXových formátů a&nbsp;kompilátorů 
                    pohodlné, typicky je v&nbsp;TeXové distribuci připravena 
                    zkratka (<i>alias</i>) pro použití dané kombinace 
                    kompilátoru a&nbsp;formátu. Obvykle tedy používáme kratší 
                    zápis příkazu:
                    <code class="ukazka_kodu">latex sample2e.tex</code>
                </li>
            </ul>
        </li>
        <li>
            Pomocí kompilátoru <a href="#pdftex">pdfTeX</a> do PDF 
            příkazem: 
            <code class="ukazka_kodu">pdftex -fmt=latex -output-format=pdf sample2e.tex</code>
            <ul>
                <li>
                    Opět obvykle používáme kratší zápis:
                    <code class="ukazka_kodu">pdflatex sample2e.tex</code>
                </li>
            </ul>
        </li>
        <li>
            Pomocí kompilátoru <a href="#xetex">XeTeX</a> do PDF 
            zkratkou: 
            <code class="ukazka_kodu">xelatex sample2e.tex</code>
        </li>
        <li>
            Pomocí kompilátoru <a href="#luatex">LuaTeX</a> do PDF 
            zkratkou: 
            <code class="ukazka_kodu">lualatex sample2e.tex</code>
        </li>
    </ul>
    <p>
        Ukázkový dokument pro LaTeX si můžete přeložit a prohlédnout i na
        <a href="https://www.overleaf.com/read/vvcpvhxchcqg">službě Overleaf</a>.
    </p>

        <!-- Návěští sekce. -->
    <h3>
        <span id="context-example">
            ConTeXt
        </span>
    </h3>
    <p>
        Formát <a href="#plaintex">ConTeXt</a> uživatelům dopřává
        výhody složitějších formátů jako LaTeX při zachování jednoduchosti
        zdrojového kódu v plain TeXu, kde 
        není třeba dokument začínat žádnou komplikovanou hlavičkou. Do 
        textového souboru (pojmenovaného např. 
        <tt>muj-context-zdrojak.tex</tt>) si uložte následující kód:
    </p>
    <code class="ukazka_kodu">
      \starttext<br/>
      \startsection[title={Testing \CONTEXT}]<br/>
        This is my {\em first} \CONTEXT{} document.<br/>
      \stopsection<br/>
      \stoptext
    </code>
    <p>
        Tento dokument ve <a href="#texove-formaty">formátu</a> 
        <a href="#context">ConTeXt</a> můžete následně přeložit 
        <a href="#luatex">kompilátorem LuaTeX</a>
        do <a href="#pdf">PDF</a> následně:
        <code class="ukazka_kodu">context muj-context-zdrojak.tex</code>
    </p>
    <p>
        Ukázkový dokument pro ConTeXt si můžete přeložit a prohlédnout i na
        <a href="https://www.overleaf.com/read/zzhxnvcztcxr">službě Overleaf</a>.
        Vizte také
        <a href="https://github.com/overleaf/overleaf/issues/66#issuecomment-1235848655">příspěvek
        o přípravě dokumentů pomocí formátu ConTeXt na službě Overleaf</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="other-examples">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Pomocí výše uvedených postupů si vysázejte ukázkové dokumenty pro
            <a href="#plaintex-example">plain TeX</a>,
            <a href="#latex-example">LaTeX</a> a
            <a href="#context-example">ConTeXt</a>
            do formátu PDF.
        </li>
        <li>
            Pokud máte čas, najděte/vytvořte si příklady pro formáty 
            csplain a&nbsp;<a href="https://wiki.contextgarden.net/First_Document">ConTeXt</a> 
            a&nbsp;zkuste si je přeložit patřičným příkazem. Stejně tak si zkuste
            použít rozšiřující primitiva některého TeXového stroje, jako
            <a href="http://wiki.luatex.org/index.php/Writing_Lua_in_TeX">např.
            LuaTeX</a>.
        </li> 
    </ul>
    <!--
    <p>
        Pokud odevzdáváte práci ze cvičení e-mailem, přiložte veškeré textové
        soubory a PDF dokumenty, které jste vyrobili.
    </p>
    -->
    <!-- Konec textu. -->
</div>
