<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Česká sazba TeXem</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        V&nbsp;rámci předmětu PB029 budeme při sazbě TeXem používat zejména 
        <a href="../ruzne-podoby-texu/#texove-formaty">formát</a>
        <a href="../ruzne-podoby-texu/#latex">LaTeX</a>. Pro kompilaci
        dokumentů pak doporučujeme využít 
        <a href="../ruzne-podoby-texu/#kompilatory-texu">kompilátory</a>
        <a href="../ruzne-podoby-texu/#pdftex">pdfTeX</a>,
        <a href="../ruzne-podoby-texu/#xetex">XeTeX</a> nebo
        <a href="../ruzne-podoby-texu/#luatex">LuaTeX</a>.
    </p>
    <p>
        Vzhledem k&nbsp;rozdílům v&nbsp;podporovaných kódováních zdrojových 
        textů a&nbsp;(ne)možnosti využití systémových fontů u&nbsp;různých 
        kompilátorů se u&nbsp;nich mírně liší i&nbsp;doporučený postup pro tvorbu 
        českých dokumentů.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Pozor:</strong>
            Při české sazbě je důležité dávat pozor na správné kódování zdrojového textu, viz
            <a href="../textove-soubory/">nástrahy textových souborů</a>.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="latex-babel">
            Balíček <tt>babel</tt>
        </span>
    </h2>
    <p>
        Pro sazbu českých a slovenských dokumentů v LaTeXu můžeme ve všech
        kompilátorech použít balíček <a href="https://ctan.org/pkg/babel"><tt>babel</tt></a>.
    </p>
    <p>
        <a href="files/babel.tex">Komentovaný český dokument pro LaTeX</a>
        si můžete na příkazovém řádku přeložit následujícím příkazem:
        <code class="ukazka_kodu">
            pdflatex <a href="files/babel.tex">babel.tex</a>
        </code>
        Stejně tak si můžete dokument přeložit a prohlédnout na
        <a href="https://www.overleaf.com/read/qhvgbgscydzr">službě Overleaf</a>.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Pro stažení souboru <a href="files/babel.tex"><tt>babel.tex</tt></a> můžete
            použít command-line nástroj
            <a href="https://linux.die.net/man/1/wget"><code>wget</code></a>,
            který je součástí většiny linuxových distribucí:
            <code class="ukazka_kodu">
                wget https://sojka.pages.fi.muni.cz/PB029_web/practices/ceska-sazba-texem/files/babel.tex
            </code>
        </p>
    </div>
    <p>
        Při použití <a href="../software/#tex-pod-windows">textového editoru
        TeXworks</a> můžete vybrat
        <a href="../ruzne-podoby-texu/#kompilatory-texu">kompilátor TeXu</a>
        (zde pdfLaTeX) z&nbsp;menu v&nbsp;levém horním rohu. V&nbsp;pravém
        dolním rohu je pak indikováno používané 
        <a href="../textove-soubory/#kodovani-textu">kódování textu</a> 
        a&nbsp;<a href="../textove-soubory/#konce-radku">znak konce 
        řádku</a> zdrojového textu.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="lualatex-polyglossia">
            Balíček <tt>polyglossia</tt>
        </span>
    </h2>
    <p>
        Moderními alternativami kompilátoru
        <a href="../ruzne-podoby-texu/#pdftex">pdfTeXu</a> jsou kompilátory
        <a href="../ruzne-podoby-texu/#xetex">XeTeX</a> a
        <a href="../ruzne-podoby-texu/#luatex">LuaTeX</a>. Tyto kompilátory
        nativně používají Unicode a&nbsp;podporují moderní formáty
        písem (<a href="https://en.wikipedia.org/wiki/OpenType">OpenType</a>,
        <a href="https://en.wikipedia.org/wiki/TrueType">TrueType</a>
        a&nbsp;<a href="https://en.wikipedia.org/wiki/Apple_Advanced_Typography">AAT</a>).
        Jsou proto mimořádně vhodné pro sazbu vícejazyčných dokumentů.
    </p>
    <p>
        Balíček <tt>babel</tt> můžeme sice používat i s kompilátory XeTeX a
        LuaTeX, ale pro plné využití jejich možností je vhodnější použít
        balíček <a href="https://www.fi.muni.cz/tech/unix/aisa.html.cs"><tt>polyglossia</tt></a>.
    </p>
    <p>
        <a href="files/lualatex.tex">Komentovaný český dokument pro LaTeX</a>
        si můžete na příkazovém řádku přeložit následujícím příkazem:
        <code class="ukazka_kodu">
            lualatex <a href="files/lualatex.tex">lualatex.tex</a>
        </code>
        Stejně tak si můžete dokument přeložit a prohlédnout na
        <a href="https://www.overleaf.com/read/rgmjmgrftbyb">službě Overleaf</a>.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Pozor:</strong>
            <p>
                Při práci z příkazové řádky studentského unixového serveru
                <a href="https://www.fi.muni.cz/tech/unix/aisa.html.cs">Aisa</a>
                nezapomeňte nejprve načíst softwarový modul <tt>texlive</tt>:
                <code class="ukazka_kodu">
                    module add texlive
                </code>
            </p>
        </p>
    </div>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Při použití LuaTeXu nejste odkázáni jen na fonty, které jsou
            instalovány v TeXové instalaci.
            Pokud je to nutné, můžete se přímo v&nbsp;TeXovém zdrojovém textu
            odkázat na soubor/adresář s&nbsp;fontem/fonty. Vizte manuál balíčku 
            <a href="http://mirrors.ctan.org/macros/unicodetex/latex/fontspec/fontspec.pdf"><tt>fontspec</tt></a>:
            <code class="ukazka_kodu">
                texdoc fontspec
            </code>
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="vlna">
            Pomocný nástroj <tt>vlna</tt>
        </span>
    </h2>
    <p>
        Při sazbě českých textů se v&nbsp;mnoha případech v&nbsp;textu
        používá
        <a href="https://cs.wikipedia.org/wiki/Nezlomiteln%C3%A1_mezera">nezlomitelná
        mezera</a>, která je v&nbsp;TeXovém zdrojovém textu reprezentována 
        znakem vlnky (<tt>~</tt>).
    </p>
    <p>
        Jedním z&nbsp;nejčastějších případů použití nezlomitelné mezery je 
        spojení neslabičné předložky (v, k, s,&nbsp;&hellip;) se slovem 
        následujícím. Jelikož tento úkon lze relativně snadno 
        automatizovat, vznikl program <tt>vlna</tt>, který na patřičná místa 
        textu nezlomitelnou mezeru doplní.
    </p>
    <p>
        Vyzkoušejte si použití programu <tt>vlna</tt> na dokumentu
        <tt><a href="files/vlna.tex">vlna.tex</a></tt> (dostupném také na službě
        <a href="https://www.overleaf.com/read/yrhkssqtbqfh">Overleaf</a>). Nejprve
        jej pouze přeložte a&nbsp;zhodnoťte výstup:
    </p>
        <code class="ukazka_kodu">
            pdflatex <a href="files/vlna.tex">vlna.tex</a>
        </code>
    <p>
        Následně do něj doplňte nezlomitelné mezery:
        <code class="ukazka_kodu">
            vlna -r -l -v KkSsVvZzOoUuAaIi vlna.tex
        </code>
        Z&nbsp;integrované nápovědy zjistěte, co znamenají použité parametry 
        a&nbsp;zda je vhodné je použít i&nbsp;při sazbě vašich dokumentů:
        <code class="ukazka_kodu">
            vlna --help
        </code>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Pozor:</strong>
            <p>
                S kompilátory XeTeX a LuaTeX můžeme použít LaTeXové balíčky
                <a href="http://www.ctan.org/pkg/xevlna"><tt>xevlna</tt></a> a
                <a href="http://www.ctan.org/pkg/luavlna"><tt>luavlna</tt></a>
                které vkládají nezlomitelné mezery přímo v TeXu bez nutnosti
                používat program <tt>vlna</tt>. Funkci balíčků můžeme
                otestovat na dokumentech
                <tt><a href="files/xelatex-vlna.tex">xelatex-vlna.tex</a></tt> a
                <tt><a href="files/lualatex-vlna.tex">lualatex-vlna.tex</a></tt>:
                <code class="ukazka_kodu">
                    xelatex <a href="files/xelatex-vlna.tex">xelatex-vlna.tex</a><br/>
                    lualatex <a href="files/lualatex-vlna.tex">lualatex-vlna.tex</a>
                </code>
                Stejně tak si můžete dokumenty <tt><a href="https://www.overleaf.com/read/tdczxcbpgryn">xelatex-vlna.tex</a></tt> a
                <tt><a href="https://www.overleaf.com/read/chfyqybyhjgz">lualatex-vlna.tex</a></tt>
                přeložit a prohlédnout na službě Overleaf.
            </p>
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h3>
        <span id="vlna-html">
            Použití programu <tt>vlna</tt> pro (X)HTML dokumenty
        </span>
    </h3>
    <p>
        Program <tt>vlna</tt> je možné bez větších obtíží použít také pro 
        doplnění nezlomitelných mezer do (X)HTML dokumentů:
        <code class="ukazka_kodu">
            vlna -x 266E6273703B -r -v KkSsVvZzOoUuAaIi file.html
        </code>
        Parametr <tt>-x 266E6273703B</tt> zajistí vkládání tvrdých mezer 
        v&nbsp;podobě sekvence znaků <tt>&amp;nbsp;</tt> místo výchozího 
        znaku&nbsp;<tt>~</tt>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="other-examples">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Pomocí výše uvedených postupů si vysázejte ukázkové české dokumenty
            v LaTeXu pro kompilátor <a href="#latex-babel">pdfTeX</a> s
            balíčkem babel a pro kompilátor <a
            href="#lualatex-polyglossia">LuaTeX</a> s balíčkem
            polyglossia.
        </li>
        <li>
            V <a href="#latex-babel">dokumentu s balíčkem babel</a> chybí
            nezlomitelná mezera po neslabičné předložce. Použijte
            <a href="#vlna">nástroj vlna</a> pro její doplnění.
        </li> 
    </ul>
    <!-- Konec textu. -->
</div>
