<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Obrázky v&nbsp;TeXu</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Obrázky, bitmapové i&nbsp;vektorové, jsou běžnou součástí dokumentů.
        Moderní <a href="../ruzne-podoby-texu/#kompilatory-texu">TeXové 
        kompilátory</a> podporují přímé vkládání některých nejběžnějších 
        formátů obrázků. Pomocí LaTeXu můžete vytvářet vektorové obrázky
        obsahující i&nbsp;texty nebo matematické výrazy sázené TeXem.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="vkladani-obrazku">
            Vkládání obrázků
        </span>
    </h2>
    <p>
        Pro snadné vložení obrázku do dokumentu ve formátu LaTeX můžeme 
        použít <a href="../ruzne-podoby-texu/#latex">LaTeXový balíček</a>
        <a href="https://www.ctan.org/pkg/graphicx"><tt>graphicx</tt></a>.
        Při vkládání si přitom musíme dávat pozor na (ne)podporu různých 
        formátů <a href="../ruzne-podoby-texu/#kompilatory-texu">kompilátory
        TeXu</a>.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Pro umístění obrázků do dokumentů můžete využít také tzv.
            plovoucí prostředí, které usnadňuje zlom dokumentu automatickým
            umístěním obrázku do vhodného místa dokumentu bez ohledu na
            místo jeho vložení ve zdrojovém textu.
        </p>
    </div>
    <p>
        Pro vkládání obrázků TeXem doporučujeme používat tyto formáty:
    </p>
    <ul>
        <li>
            bitmapové obrázky
            <ul>
                <li>JPEG (pro fotografie)</li>
                <li>
                    PNG (pro screenshoty a&nbsp;grafiku nedostupnou ve vektorové
                    podobě)
                </li>
                <li>PDF</li>
            </ul>
        </li>
        <li>
            vektorové obrázky
            <ul>
                <li>PDF</li>
            </ul>
        </li>
    </ul>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Pro nástroje pro přípravu bitmapových a&nbsp;vektorových obrázků 
            viz <a href="../wysiwyg-dtp/#priprava-obrazku">WYSIWYG DTP 
            nástroje</a>.
        </p>
    </div>
    <p>
        Pozor, zpracování grafiky v&nbsp;případě sazby do DVI vyžaduje
        použití formátu
        <a href="https://en.wikipedia.org/wiki/Encapsulated_PostScript">Encapsulated
        PostScript</a> pro všechny obrázky.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Pro konverzi mezi formáty můžete použít např. jednoduché
            nástroje pro příkazovou řádku:
        </p>
        <ul>
          <li>
            příkaz <tt>convert</tt> z&nbsp;balíku
            <a href="http://www.imagemagick.org/">ImageMagic</a>
            pro konverzi mezi formáty bitmapových obrázků (JPEG, PNG, TIFF,
            &hellip;) a
          </li>
          <li>
            příkaz <tt>inkscape</tt> z programu
            <a href="../wysiwyg-dtp/#inkscape">Inkscape</a> pro konverzi mezi
            formáty vektorových obrázků obrázků (SVG, PDF, EPS, &hellip;).
          </li>
        </ul>
    </div>
    <p>
        Vkládání grafiky do dokumentu si můžete snadno vyzkoušet na
        následujících třech souborech (dostupných také na
        <a href="https://www.overleaf.com/read/pswntrgmjgqf">službě Overleaf</a>):
    </p>
    <ul>
        <li>
            <a href="files/obrazky.tex">Dokument s&nbsp;obrázkem vloženým 
            v&nbsp;plovoucím prostředí</a>,
        </li>
        <li>
            <a href="files/tux.eps">vkládaný obrázek ve formátu EPS pro
            překlad do DVI</a>,
        </li>
        <li>
            <a href="files/tux.pdf">vkládaný obrázek ve formátu PDF</a>.
        </li>
    </ul>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Povšimněte si prosím, že parametr makra
            <code>\includegraphics</code> se jménem souboru neobsahuje
            příponu&nbsp;– použitý 
            <a href="../ruzne-podoby-texu/#kompilatory-texu">TeXový
            kompilátor</a> si pak sám zvolí formát, který umí zpracovat
            (pokud je v&nbsp;daném adresáři dostupný).
        </p>
    </div>
    <p>
        Postup překladu je obvyklý:
        <code class="ukazka_kodu">
            pdflatex <a href="files/obrazky.tex">obrazky.tex</a><br/>
            pdflatex <a href="files/obrazky.tex">obrazky.tex</a>
        </code>
        Dvojnásobný překlad je nutný k&nbsp;vyřešení křížových odkazů na obrázek
        z&nbsp;textu dokumentu.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="latex">
            LaTeX
        </span>
    </h2>
    <p>
        Formát LaTeX obsahuje vestavěnou podporu pro kreslení vektorových
        obrázků pomocí prostředí <tt>picture</tt> bez využití externích
        programů. Toto je pohodlné, ale přináší s sebou mnohá omezení v typu
        tvarů, které lze TeXem vykreslit.  Ukázku použití prostředí
        <tt>picture</tt> pro vytvoření jednoduchého obrázku naleznete v
        TeXovém dokumentu
        <a href="files/latex-picture.tex"><tt>latex-picture.tex</tt></a>
        (dostupném také na <a href="https://www.overleaf.com/read/ybqzdwvzpnzw">službě Overleaf</a>):
        <code class="ukazka_kodu">
            pdflatex <a href="files/latex-picture.tex">latex-picture.tex</a>
        </code>
    </p>
    <p>
        Kvůli omezením TeXu vznikl balíček <a href="https://www.ctan.org/pkg/pgf">
        PGF</a>, který využívá rozšířené možnosti moderních vykreslovacích
        driverů, jako jsou <tt>dvips</tt> a pdfTeX.
        Balíček <a href="https://www.ctan.org/pkg/pgf">TikZ</a> pak poskytuje
        vysokoúrovňovou syntax pro pohodlnou přípravu vektorových obrázků přímo
        v LaTeXu a dalších formátech.
        Ukázku použití balíčku TikZ pro vytvoření jednoduchého
        obrázku naleznete v TeXovém dokumentu <a href="files/latex-tikz.tex">
        <tt>latex-tikz.tex</tt></a>
        (dostupném také na <a href="https://www.overleaf.com/read/hvkgyfcmywkq">službě Overleaf</a>):
        <code class="ukazka_kodu">
            pdflatex <a href="files/latex-tikz.tex">latex-tikz.tex</a>
        </code>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Síla balíčku Tikz spočívá mimo jiné v ekosystému
            <a href="https://www.ctan.org/topic/pgf-tikz">rozšířujících
            balíčků</a>, které vám umožňují snadno kreslit
            <a href="https://www.ctan.org/pkg/pgfgantt">Ganntovy diagramy</a>,
            <a href="https://www.ctan.org/pkg/quantikz">kvantové obvody</a> nebo
            <a href="https://www.ctan.org/pkg/tikzducks">🦆 gumové kachničky</a>.
        <p>
        </p>
            Inspirací vám může být také
            <a href="https://texample.net/tikz/examples/">galerie obrázků</a>
            vytvořených balíčkem TikZ a
						<a href="https://cs.overleaf.com/learn/latex/TikZ_package">série
            tutoriálů</a> od služby Overleaf.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Vyzkoušejte si překlad výše vystavených ukázkových dokumentů.
        </li>
        <li>
            Přidejte bitmapový obrázek (fotografii do svého životopisu?)
            do svého <a href="../../finalwork/#tex">prvního
            zápočtového dokumentu</a> (včetně případné úpravy Makefile).
        </li>
        <li>
            Přidejte jednoduchý vektorový obrázek vytvořený
            <a href="#latex">LaTeXem</a> do svého
            <a href="../../finalwork/#tex">prvního zápočtového
            dokumentu</a> (včetně případné úpravy Makefile).
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
