<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Slučování dokumentů</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Při přípravě rozsáhlejších dokumentů se často dostaneme do situace,
        kdy potřebujeme sloučit více dokumentů do jednoho výstupu. Ukážeme si,
        jak slučovat TeXové a&nbsp;PDF dokumenty.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="input">
            Vkládání souborů do TeXových dokumentů
        </span>
    </h2>
    <p>
        Pro vložení obsahu souboru do TeXového dokumentu slouží TeXová
        primitiva <tt>\input</tt>. Její využití je velmi vhodné zvláště při
        sazbě rozsáhlých dokumentů, které má smysl rozdělit do množství
        menších souborů. Dokument <a href="files/input.tex"><tt>input.tex</tt></a>
        pomocí primitiva <tt>\input</tt> tvoří dokument, který integruje
        obsah souborů <a href="files/cast1.tex"><tt>cast1.tex</tt></a>
        a&nbsp;<a href="files/cast2.tex"><tt>cast2.tex</tt></a>.
        Všechny tři soubory jsou dostupné také na <a href="https://www.overleaf.com/read/zzcxgdtzhxtt">službě Overleaf</a>.
    </p>
    <p>
        Při přípravě rozsáhlejších dokumentů lze také použít LaTeXové makro
        <tt>\include</tt>, které funguje podobně jako <tt>\input</tt>, ale
        pro každý vkládaný soubor vytváří samostatný pomocný <tt>.aux</tt>
        soubor, na jehož konec si poznačí stav číselníků stránek, kapitol,
        sekcí atd. na konci vkládaného souboru. Následně pak můžeme pomocí
        makra <tt>\includeonly</tt> vybírat ty soubory, které se do
        výsledného souboru skutečně vloží, ale díky informacím v&nbsp;pomocných
        souborech dojde k&nbsp;zachování číslování stránek, kapitol, sekcí apod.
    </p>
    <p>
        Dokument <a href="files/include.tex"><tt>include.tex</tt></a>
        pomocí příkazu <tt>\include</tt> tvoří dokument, který integruje
        obsah souborů <a href="files/kapitola1.tex"><tt>kapitola1.tex</tt></a>
        a&nbsp;<a href="files/kapitola2.tex"><tt>kapitola2.tex</tt></a>.
        Všechny tři soubory jsou dostupné také na <a href="https://www.overleaf.com/read/bsfcbmzyhqwv">službě Overleaf</a>.
        Po vysázení dokumentu <a href="files/include.tex"><tt>include.tex</tt></a> si zkuste
        odkomentovat různá volání makra <tt>\includeonly</tt> v&nbsp;hlavičce
        dokumentu a&nbsp;všimněte si, že ačkoliv nedochází k&nbsp;přesazbě
        celého dokumentu, stránkování a&nbsp;čísla kapitol zůstávají zachovaná.
    </p>


    <!-- Návěští sekce. -->
    <h2>
        <span id="pdfpages">
            Manipulace s&nbsp;PDF dokumenty
        </span>
    </h2>
    <p>
        Při překladu dokumentu 
        <a href="../ruzne-podoby-texu/">pdfTeXem/XeTeXem/LuaTeXem</a> do PDF 
        můžete do dokumentu snadno vložit obsah existujícího PDF dokumentu. 
        Této možnosti se dá využít ke spojování PDF dokumentů do jediného 
        výsledného dokumentu s&nbsp;možností přidání dalšího obsahu generovaného 
        TeXem.
    </p>
    <p>
        Obzvláště užitečná může tato možnost být při spojování TeXem 
        sázených dokumentů od více autorů (sborník článků apod.), nebo 
        obecně TeXovaných dokumentů používajících vzájemně konfliktní 
        značkování (životopis a&nbsp;průvodní dopis apod.)&nbsp;– dokumenty je 
        možné přeložit odděleně a&nbsp;výsledné dokumenty spojit na úrovni 
        výsledných PDF.
    </p>
    <p>
        Pro pohodlné vkládání PDF dokumentů TeXem můžeme použít 
        <a href="../ruzne-podoby-texu/#latex">LaTeXový balíček</a> 
        <tt>pdfpages</tt>. Dokument 
        <a href="files/pdfpages.tex"><tt>pdfpages.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/nktwgjcrmpwf">službě Overleaf</a>)
        pomocí tohoto balíčku tvoří dokument, který integruje obsah souboru 
        <a href="files/sample2e.pdf"><tt>sample2e.pdf</tt></a>
        s&nbsp;dalším obsahem zapsaným přímo ve zdrojovém textu
        <tt>pdfpages.tex</tt>.
    </p>
    <p>
        Podrobné informace o&nbsp;možnostech balíčku <tt>pdfpages</tt> si můžete 
        prohlédnout 
        v&nbsp;<a href="http://mirror.ctan.org/macros/latex/contrib/pdfpages/pdfpages.pdf">dokumentaci 
        balíčku</a>:
        <code class="ukazka_kodu">
            texdoc pdfpages
        </code>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Pro jednoduchou manipulaci s&nbsp;PDF soubory (spojování, 
            rozdělování, [de]komprese, [de]šifrování, &hellip;) je možné použít 
            také nástroj pro příkazovou řádku 
            <a href="https://www.pdflabs.com/t/pdftk/"><tt>pdftk</tt></a>
            nebo grafický nástroj <a href="http://www.pdfsam.org/">PDFsam</a>.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Vyzkoušejte si překlad
            <a href="#pdfpages">ukázkového dokumentu využívajícího balíček
            <tt>pdfpages</tt></a>
            (dostupného také na <a href="https://www.overleaf.com/read/nktwgjcrmpwf">službě Overleaf</a>)
            a&nbsp;prakticky si vyzkoušejte také další možnosti, které
            balíček <tt>pdfpages</tt> nabízí.
        </li>
        <li>
            Pokud pro sazbu různých částí 
            <a href="../../finalwork/#tex">svého prvního zápočtového 
            dokumentu</a> (např. životopis a&nbsp;průvodní dopis) používáte
            vzájemně neslučitelné značkování (odlišné třídy dokumentů apod.),
            využijte některých z&nbsp;uvedených postupů pro jejich sloučení do
            jediného výsledného PDF.
        </li>
        <li>
            Použijte šablonu <a href="files/odplist/odplist.zip"><tt>odplist</tt></a>
            (dostupnou také na <a href="https://www.overleaf.com/read/cjdswxqmnjhk">službě Overleaf</a>)
            pro vysázení <a href="../../finalwork/#tex">svého prvního
            zápočtového dokumentu</a>. Pomocí příkazu <tt>\vlozPDF</tt>
            vložte PDF soubor se zápočtovým dokumentem.
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
