<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Automatizace sazby dokumentu</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Vývoj dokumentů v&nbsp;TeXu se v&nbsp;mnoha ohledech podobá vývoji programů.
        Proces překladu dokumentu se může skládat z&nbsp;několika kroků, jejichž
        provádění je vhodné automatizovat. Pro automatizaci překladu tedy
        můžeme použít obdobné prostředky jako pro řízení překladu programů.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="make">
            Program <tt>make</tt> a&nbsp;soubor <tt>Makefile</tt>
        </span>
    </h2>
    <p>
        Jedním z&nbsp;klasických řešení automatizace procesů je použití
        programu <tt>make</tt>. Jeho použití pro automatizaci překladu 
        dokumentů je podobné jako pro překlad větších softwarových
        projektů. Pokud jste se s programem ještě nesetkali, přečtěte si článek
        <a href="http://jaknaprojekty.davidm.cz/make.html">Ať maká make</a>.
    </p>
    <p>
        <tt>make</tt> pracuje podle speciálního předpisu&nbsp;– 
        vizte komentovaný příklad <a href="files/Makefile"><tt>Makefile</tt></a>.
    </p>
    <p>
        Ukázkový <a href="files/Makefile"><tt>Makefile</tt></a> předpokládá 
        existenci souboru <tt>dokument.tex</tt> a slouží k jeho překladu do 
        formátů PDF, DVI a PostScript. Soubor <tt>dokument.tex</tt> vytvoříme
        zkopírováním ukázkového LaTeXového dokumentu <tt>sample2e.tex</tt>.
        <code class="ukazka_kodu">
            cp -vi $(kpsewhich sample2e.tex) dokument.tex
        </code>
        V <a href="files/Makefile"><tt>Makefile</tt></a> jsou definovány 
        cíle, kterých chcete dosáhnout (soubor v PDF, soubor v DVI, vymazání dat 
        apod.) a jejich závislosti.
    </p>
    <p>
        Např. dokument v PostScript je generován transformací PDF dokumentu, 
        který vzniká překladem <tt>dokument.tex</tt>. Jelikož je postup 
        zaznamenám v <a href="files/Makefile"><tt>Makefile</tt></a>, uživateli 
        stačí specifikovat žádaný cíl a o zbytek se postará program 
        <tt>make</tt>:
        <code class="ukazka_kodu">
            make ps
        </code>
    </p>
    <p>
        Pokud se <tt>make</tt> zavolá bez parametrů, použije se tzv. implicitní 
        cíl, tj. cíl, který je v <a href="files/Makefile"><tt>Makefile</tt></a> 
        uveden na prvním místě. V našem ukázkovém
        <a href="files/Makefile"><tt>Makefile</tt></a> to je „falešný“ cíl 
        <tt>all</tt>, který má definovánu závislost na cílech <tt>dvi</tt>, 
        <tt>pdf</tt> a <tt>ps</tt>. Efektivně tedy doje k vytvoření všech 
        výstupních formátů:
        <code class="ukazka_kodu">
            make
        </code>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Povšimněte si, že překlad probíhá efektivně – znovu vytvořeny 
            jsou pouze výstupy, které dosud neexistují, a kterým se zároveň 
            nezměnily zdrojové podklady, tj. nejsou zastaralé.
        </p>
        <p>
            Vyzkoušejte opakovaně volat příkaz:
            <code class="ukazka_kodu">
                make
            </code>
            Následně simulujte změnu zdrojového dokumentu a opakujte volání 
            <tt>make</tt>:
            <code class="ukazka_kodu">
                touch dokument.tex  # Jen aktualizuje čas modifikace souboru<br/>
                make
            </code>
        </p>
    </div>
    <p>
        V rámci <a href="files/Makefile"><tt>Makefile</tt></a> máme definován 
        také cíl <tt>clean</tt>, který zajistí odstranění všech vygenerovaných 
        výstupních dokumentů a ponechá pouze čisté zdrojové soubory, které jsou 
        minimem nutným k novému vygenerování všech výstupů:
        <code class="ukazka_kodu">
            make clean
        </code>
        Takto vyčištěný projekt je vhodný k archivaci, respektive odeslání do 
        systému pro správu verzí, kde typicky chceme ukládat jen čisté zdrojové 
        soubory, nikoliv z nich vygenerovatelné výstupy.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            <tt>make</tt> řízený <tt>Makefile</tt> je obecný nástroj. I když 
            jsme ho zde použili pro řízení překladu TeXových dokumentů, dá se 
            stejně dobře použít pro automatizaci libovolného jiného procesu, 
            který jsme schopni popsat v <tt>Makefile</tt>.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h3>
        <span id="make-ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h3>
    <ul>
        <li>
            Vytvořte <a href="#make">Makefile</a> automatické spuštění
            <a href="../ceska-sazba-texem/#vlna">programu <tt>vlna</tt></a>.
        </li>
        <li>
            Vytvořte <a href="#make">Makefile</a> pro řízení sazby 
            <a href="../bibliografie/">dokumentu s&nbsp;bibliografií</a>.
        </li>
        <li>
            Vytvořte <a href="#make">Makefile</a> pro řízení sazby 
            <a href="../rejstrik/">dokumentu s&nbsp;rejstříkem</a>.
        </li>
        <li>
            Vytvořte <a href="#make">Makefile</a> pro řízení překladu
            <a href="../../finalwork/#tex">svého prvního zápočtového
            dokumentu</a>.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="arara">
          Program <tt>arara</tt>
        </span>
    </h2>
    <p>
        Jednou z nevýhod programu <tt>make</tt> je skutečnost, že vyžaduje
        distribuci dodatečného souboru <tt>Makefile</tt> spolu s dokumentem.
        Pokud soubor <tt>Makefile</tt> ztratíme, neumíme dokument přeložit.
        Další z nevýhod je, že program <tt>make</tt> není součástí standardních
        <a href="../software/#tex-mimo-fi">TeXových distribucí</a>, což přináší
        problémy s přenositelností.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="zaklady-arary">
            Základní použití
        </span>
    </h3>
    <p>
        Program
        <a href="https://www.ctan.org/pkg/arara/"><code>arara</code></a>
        čte pravidla pro překlad dokumentu přímo z dokumentu samotného, čímž se
        řeší problém jejich distribuce. Uživatel zadává pravidla formou
        komentářů, jak ilustruje
        <a href="files/arara-s-biblatexem.tex">rozšířený dokument ze cvičení o
        sazbě bibliografie</a>:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/arara-s-biblatexem.tex -->
<div class="ukazka_kodu"><pre>
<span class="lineno"> 1 </span><span class="pygments_c">% arara: pdflatex</span>
<span class="lineno"> 2 </span><span class="pygments_c">% arara: biber</span>
<span class="lineno"> 3 </span><span class="pygments_c">% arara: pdflatex</span>
<span class="lineno"> 4 </span>
<span class="lineno"> 5 </span><span class="pygments_c">% Začátek preambule.</span>
<span class="lineno"> 6 </span><span class="pygments_k">\documentclass</span><span class="pygments_nb">{</span>article<span class="pygments_nb">}</span>
<span class="lineno"> 7 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[resetfonts]</span><span class="pygments_nb">{</span>cmap<span class="pygments_nb">}</span>
<span class="lineno"> 8 </span><span class="pygments_k">\usepackage</span><span class="pygments_nb">{</span>lmodern<span class="pygments_nb">}</span>
<span class="lineno"> 9 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[czech]</span><span class="pygments_nb">{</span>babel<span class="pygments_nb">}</span>
<span class="lineno">10 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[latin2]</span><span class="pygments_nb">{</span>inputenc<span class="pygments_nb">}</span>
<span class="lineno">11 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[T1]</span><span class="pygments_nb">{</span>fontenc<span class="pygments_nb">}</span>
<span class="lineno">12 </span>&hellip;
</pre></div>
    <p>
        Uživatel následně provede překlad příkazem <tt>arara</tt> následovně:
        <code class="ukazka_kodu">
            arara <a href="files/arara-s-biblatexem.tex">arara-s-biblatexem.tex</a>
        </code>
    </p>
    <p>
        Při překladu obdržíme následující výstup:
        <code class="ukazka_kodu">
            &nbsp; __ _ _ __ __ _ _ __ __ _ <br />
            &nbsp;/ _` | '__/ _` | '__/ _` |<br />
            | (_| | | | (_| | | | (_| |<br />
            &nbsp;\__,_|_|&nbsp; \__,_|_|&nbsp; \__,_|<br />
            <br />
            Processing 'arara-s-biblatexem.tex' (size: 2 KB, last modified:<br />
            11/04/2018 21:23:50), please wait.<br />
            <br />
            (PDFLaTeX) PDFLaTeX engine .............................. SUCCESS<br />
            (Biber) The Biber reference management software ......... SUCCESS<br />
            (PDFLaTeX) PDFLaTeX engine .............................. SUCCESS<br />
            <br />
            Total: 5.60 seconds<br />
        </code>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Program <tt>arara</tt> je psaný v programovacím jazyce Java.
            Pokud pracujete na vlastním počítači, musíte si před spuštěním
            programu <tt>arara</tt> nainstalovat interpret Javy, např. z
            <a href="https://packages.ubuntu.com/search?keywords=default-jre&searchon=names">balíčku
            <tt>default-jre</tt></a> pro Debian a Ubuntu Linux nebo z
            <a href="https://www.microsoft.com/openjdk">webu firmy
            Microsoft</a> pro operační systém Windows.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h3>
        <span id="konfigurace-arara">
            Konfigurace pravidel 
        </span>
    </h3>
    <p>
        Platí, že názvy pravidel, např. <tt>pdflatex</tt>, neodpovídají přímo
        příkazům, ale pojmenovávají soubor s definicemi, např.
        <a href="https://mirrors.ctan.org/support/arara/scripts/rules/arara-rule-pdflatex.yaml"><tt>pdflatex.yaml</tt></a>.
        Nevýhoda oproti Makefile tedy spočívá v nutnosti připravit soubor definic
        pro jednotlivá pravidla. Výhoda použití pravidel spočívá ve větší míře
        odstínění od samotných spouštěných příkazů.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="latexmk">
            Program <tt>latexmk</tt>
        </span>
    </h2>
    <p>
        Do souboru <code>Makefile</code> a pravidel programu <code>arara</code>
        zadáváme konstantní počet běhů TeXového kompilátoru. Pokud toto číslo
        nadhodnotíme, budou se naše dokumenty překládat neúměrně dlouho a pokud
        naopak zadáme nedostatečný počet, mohou nám části dokumentu chybět a
        křížové reference uvádět chybná čísla stránek. Při následujících
        překladech již také existují pomocné soubory a pro opětovné vysázení
        dokumentu nám tedy mnohdy stačí pouze jeden běh TeXového kompilátoru.
    </p>
    <p>
        Program
        <a href="https://www.ctan.org/pkg/latexmk/"><code>latexmk</code></a>
        sleduje výstup TeXového kompilátoru při použití formátu LaTeXu a
        zaznamenává vznik/změny pomocných souborů. Díky tomu je schopen
        automaticky provést korektní počet překladů pro vyřešení křížových
        referencí a automaticky spustit externí nástroje, jako je
        <code>biber</code> nebo <code>makeindex</code>, pokud detekuje vznik
        příslušných pomocných souborů.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="zaklady-latexmk">
            Základní použití
        </span>
    </h3>
    <p>
        Schopnosti programu si můžeme demonstrovat na
        <a href="files/krizova-reference.tex">jednoduchém LaTeXovém dokumentu</a>,
        který obsahuje křížovou referenci. Při překladu kompilátorem pdfLaTeXu
        potřebujeme dva překlady k tomu, aby se reference správně vyhodnotila:
        <code class="ukazka_kodu">
            pdflatex <a href="files/krizova-reference.tex">krizova-reference.tex</a><br/>
            pdflatex <a href="files/krizova-reference.tex">krizova-reference.tex</a>
        </code>
        Při použití nástroje <code>latexmk</code> nám k překladu stačí jediný
        příkaz:
        <code class="ukazka_kodu">
            latexmk -pdf <a href="files/krizova-reference.tex">krizova-reference.tex</a>
        </code>
    </p>
    <p>
        Vidíme, že nástroj správně provedl dva překlady a ukončil se. Kromě
        běžných pomocných souborů nám vznikly i soubory s koncovkou
        <code>.fls</code> a <code>.fdb_latexmk</code>, ve kterých si
        <code>latexmk</code> udržuje informace o souborech, na kterých je
        překládaný dokument závislý. Pokud tedy příkaz zopakujeme, obdržíme
        informaci o tom, že vysázený dokument je aktuální a není třeba provádět
        překlad.
    </p>
    <p>
        Pokud chceme odstranit pomocné soubory, můžeme použít příkaz
        <code class="ukazka_kodu">
            latexmk -c
        </code>
        Pro odstranění pomocných souborů i výstupních dokumentů pak slouží příkaz
        <code class="ukazka_kodu">
            latexmk -C
        </code>
        Další užitečné volby nalezneme
        v <a href="http://mirrors.ctan.org/support/latexmk/latexmk.pdf">uživatelském
        manuálu</a> (viz <code>man latexmk</code>).
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="latexmk-prubezna-kompilace">
            Průběžná kompilace
        </span>
    </h3>
    <p>
        Velice příjemnou schopností programu <code>latexmk</code> je průběžná kompilace.
        Pokud překlad spustíme s volbou <code>-pvc</code>, <code>latexmk</code>
        náš dokument vysází, otevře výstupní dokument v prohlížeči a při
        jakýchkoliv změnách ve vstupních souborech náš výstupní dokument přesází:
        <code class="ukazka_kodu">
            latexmk -pvc -pdf <a href="../rejstrik/files/rejstrik.tex">rejstrik.tex</a>
        </code>
    </p>
    <p>
        Takto můžeme na svých dokumentech pracovat interaktivně způsobem, jaký známe
        z online služeb <a href="https://www.overleaf.com/">Overleaf</a>. Ve skutečnosti tyto služby
        interně
        <a href="https://www.overleaf.com/blog/216-examples-techniques-and-tips-on-how-to-use-latexmkrc-with-overleaf">využívají
        právě <code>latexmk</code></a> a úpravami konfiguračního souboru
        <code>latexmkrc</code> lze mnohdy dosáhnout chování, které je jinak
        přes uživatelské rozhraní těchto služeb nedostupné, vizte např.
        <a href="https://www.overleaf.com/read/yppkczvcwknh">ukázku využití programu
        <tt>vlna</tt> na službě Overleaf</a>.
    </p>
    <p>
        Pro prohlížení PDF dokumentů <code>latexmk</code> implicitně používá příkaz
        <code>acroread</code>. Pokud na svém systému používáme jiný prohlížeč
        PDF dokumentů (např.
        <a href="http://www.abclinuxu.cz/software/grafika/pdf-a-postscript/evince">Evince</a>),
        upozorníme na tuto skutečnost <code>latexmk</code> zanesením následujícího textu
        do všeobecného konfiguračního souboru <code>.latexmkrc</code> ve svém
        uživatelském domovském adresáři, nebo opět do konfiguračního
        souboru <code>latexmkrc</code> v adresáři s dokumentem:
        <code class="ukazka_kodu">
            $pdf_previewer = "start evince %O %S";
        </code>
        Na systému Windows jsou otevřené soubory standardně zamykány, kvůli čemuž
        <code>latexmk</code> není schopný prohlížený dokument přesázet. Řešením je
        použít prohlížeč dokumentů, který soubory nezamyká (např.
        <a href="http://www.sumatrapdfreader.org/">Sumatra PDF</a>).
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="konfigurace-latexmk">
            Konfigurace používaných nástrojů
        </span>
    </h3>
    <p>
        Některé z nástrojů, se kterými jsme během semestru pracovali, nejsou
        standardní a <code>latexmk</code> je nezná. Jedná se např. o program
        <code>texindy</code>, kterým jsme <a href="../rejstrik">zpracovávali
        rejstříky</a>; <code>latexmk</code> namísto tohoto programu použije
        standardní <code>makeindex</code>, který však není schopný správně řadit
        češtinu:
        <code class="ukazka_kodu">
            latexmk -pdf <a href="../rejstrik/files/rejstrik.tex">rejstrik.tex</a>
        </code>
    </p>
    <p>
        Musíme tedy programu <code>latexmk</code> o <code>texindy</code> říci.
        Pokud ve složce s překládaným dokumentem vytvoříme konfigurační soubor
        <code>latexmkrc</code> s následujícím obsahem (pro slovenštinu nahraďte
        <tt>czech</tt> za <tt>slovak-large</tt>):
        <code class="ukazka_kodu">
            $makeindex = "texindy %O -I latex --language czech --codepage utf8 -o %D %S";
        </code>
        a překlad opakujeme:
        <code class="ukazka_kodu">
            latexmk -C<br/>
            latexmk -pdf <a href="../rejstrik/files/rejstrik.tex">rejstrik.tex</a>
        </code>
        obdržíme již správný výstup. Vizte také ukázku na
        <a href="https://www.overleaf.com/read/vhdgzbvwmqvz">službě Overleaf</a>.
    </p>
    <p>
        Informace o parametrech, které lze zadávat do konfiguračního souboru
        nalezeme
        v <a href="http://mirrors.ctan.org/support/latexmk/latexmk.pdf">uživatelském
        manuálu</a> pod sekcí „Configuration/initialization (rc) files“. Autor
        programu rovněž zveřejnil
        <a href="https://www.ctan.org/tex-archive/support/latexmk/example_rcfiles">sadu
        ukázkových konfigurací</a>, ze kterých můžeme vyjít.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="latexmk-ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h3>
    <ul>
        <li>
            Prostudujte si v <a href="http://mirrors.ctan.org/support/latexmk/latexmk.pdf">uživatelském manuálu</a>
            sekci „Using <code>latexmk</code> with <code>make</code>“ a
            rozšiřte svůj <a href="#make">Makefile</a> tak, aby pro sazbu
            dokumentu používal program <code>latexmk</code>. 
        </li>
        <li>
            V <a href="http://mirrors.ctan.org/support/latexmk/latexmk.pdf">uživatelském
            manuálu</a> zjistěte, jakým způsobem lze program <code>latexmk</code>
            požádat, aby namísto pdfTeXu používal kompilátory XeTeXu a LuaTeXu.
            Svá zjištění experimentálně ověřte na dokumentech ze
            <a href="../ceska-sazba-texem">cvičení o české sazbě</a>.
        </li>
    </ul>

        <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Použijte některý automatizační nástroj (<code>make</code>,
            <code>latexmk</code>, <code>arara</code>, ...) ve svém prvním
            zápočtovém dokumentu.
        </li>
    </ul>

    <!-- Konec textu. -->
</div>
