<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Značkování textu v LaTeXu</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Při přípravě textu dokumentu je vhodné použít značkovací jazyk, který
        vám umožní vyznačit logickou strukturu dokumentu nezávisle na
        požadovaném vzhledu. Díky tomu se autoři mohou zaměřit na obsah
        dokumentu a vzhled ponechat na grafikovi nebo na předpřipravené
        šabloně (o tom si více povíme v <a
        href="../fithesis-a-beamer">následujícím cvičení</a>).
    </p>
    <p>
        Při přípravě elektronických a tištěných dokumentů pomocí TeXu můžeme
        využít značkovací jazyk LaTeX. V tomto cvičení si jazyk představíme a ukážeme
        si, jak jeho pomocí můžeme dokument horizontálně členit na sekce a
        odstavce a jak můžeme vygenerovat úvodní části jako titulek, jméno
        autora a obsah.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Na tomto cvičení budete opět pracovat s TeXem. Pro připomenutí práce
            s TeXem vizte <a href="../software">cvičení o seznámení s použítým
            softwarem</a>.
        </p>
        <p>
            Při práci z příkazové řádky studentského unixového serveru
            <a href="https://www.fi.muni.cz/tech/unix/aisa.html.cs">Aisa</a>
            nezapomeňte nejprve načíst softwarový modul <tt>texlive</tt>:
            <code class="ukazka_kodu">
              module add texlive
            </code>
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="zakladni-casti">
            Základní části LaTeXového dokumentu
        </span>
    </h2>
    <p>
        Minimální LaTeXový dokument sestává z následujících částí:
    </p>
    <ol>
        <li>Třída dokumentu (jako článek, dopis, nebo kniha) určuje základní dostupné značky a vzhled dokumentu.</li>
        <li>
            Hlavička dokumentu, ve které:
            <ol>
                <li>načítáme balíčky, které přidávají doplňující značky nebo upravují vzhled dokumentu, a</li>
                <li>zadáváme metadata dokumentu jako název, jméno autora a datum vydání.</li>
            </ol>
        </li>
        <li>Tělo dokumentu, do kterého zapisujeme text dokumentu.</li>
    </ol>
    <p>
        Nyní si vytvoříme minimální LaTeXový dokument, který bude obsahovat
        pouze základní kostru dokumentu. Tento dokument bude používat
        vestavěnou třídu <a href="https://ctan.org/pkg/article"><tt>article</tt></a> pro přípravu
        článků a balíčky <a href="https://ctan.org/pkg/babel"><tt>babel</tt></a>
        a <a href="https://ctan.org/pkg/fontenc"><tt>fontenc</tt></a> pro
        českou lokalizaci:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-01.tex | sed 's/<div class="highlight"/<div class="ukazka_kodu"/' -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_c">% Třída dokumentu</span>
<span class="lineno"> 2 </span><span class="pygments_k">\documentclass</span><span class="pygments_na">[a4paper]</span><span class="pygments_nb">{</span>article<span class="pygments_nb">}</span>
<span class="lineno"> 3 </span><span class="pygments_c">% Hlavička dokumentu</span>
<span class="lineno"> 4 </span><span class="pygments_c">%% Balíčky</span>
<span class="lineno"> 5 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[czech]</span><span class="pygments_nb">{</span>babel<span class="pygments_nb">}</span>
<span class="lineno"> 6 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[T1]</span><span class="pygments_nb">{</span>fontenc<span class="pygments_nb">}</span>
<span class="lineno"> 7 </span><span class="pygments_c">% Tělo dokumentu</span>
<span class="lineno"> 8 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
<span class="lineno"> 9 </span>Toto je minimální <span class="pygments_k">\LaTeX</span> ový dokument.
<span class="lineno">10 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
</pre></div>
    <p>
        Více o české lokalizaci si povíme na <a href="../ceska-sazba-texem">cvičení o české sazbě</a>.
    </p>
    <p>
        Dokument si můžete na příkazovém řádku přeložit následujícím příkazem:
        <code class="ukazka_kodu">
            pdflatex <a href="files/sample-01.tex">sample-01.tex</a>
        </code>
        Stejně tak si můžete dokument přeložit a prohlédnout na
        <a href="https://www.overleaf.com/read/tbwxkwwqtxsj">službě
        Overleaf</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="metadata">
            Metadata dokumentu
        </span>
    </h2>
    <p>
        Metadata dokumentu (jako název, jméno autora a datum vydání) zadáváme v hlavičce dokumentu.
        Vysázíme je příkazem <tt>\maketitle</tt> v těle dokumentu:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-02.tex | sed 's/<div class="highlight"/<div class="ukazka_kodu"/' -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_c">% Třída dokumentu</span>
<span class="lineno"> 2 </span><span class="pygments_k">\documentclass</span><span class="pygments_na">[a4paper]</span><span class="pygments_nb">{</span>article<span class="pygments_nb">}</span>
<span class="lineno"> 3 </span><span class="pygments_c">% Hlavička dokumentu</span>
<span class="lineno"> 4 </span><span class="pygments_c">%% Balíčky</span>
<span class="lineno"> 5 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[czech]</span><span class="pygments_nb">{</span>babel<span class="pygments_nb">}</span>
<span class="lineno"> 6 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[T1]</span><span class="pygments_nb">{</span>fontenc<span class="pygments_nb">}</span>
<span class="lineno"> 7 </span><span class="pygments_c">%% Metadata</span>
<span class="lineno"> 8 </span><span class="pygments_k">\title</span><span class="pygments_nb">{</span>Značkování textu v <span class="pygments_k">\LaTeX</span> u<span class="pygments_nb">}</span>
<span class="lineno"> 9 </span><span class="pygments_k">\author</span><span class="pygments_nb">{</span>Vít Starý Novotný<span class="pygments_nb">}</span>
<span class="lineno">10 </span><span class="pygments_k">\date</span><span class="pygments_nb">{</span>29. září 2023<span class="pygments_nb">}</span>
<span class="lineno">11 </span><span class="pygments_c">% Tělo dokumentu</span>
<span class="lineno">12 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
<span class="lineno">13 </span><span class="pygments_k">\maketitle</span>
<span class="lineno">14 </span>Toto je minimální <span class="pygments_k">\LaTeX</span> ový dokument.
<span class="lineno">15 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
</pre></div>
    <p>
        Různé dokumentové třídy podporují různá metadata. Např. vestavěná třída
        <a href="https://ctan.org/pkg/letter"><tt>letter</tt></a> pro psaní
        dopisů umožňuje zadávat jméno a adresu příjemce.
    </p>
    <p>
        Dokument si můžete na příkazovém řádku přeložit následujícím příkazem:
        <code class="ukazka_kodu">
            pdflatex <a href="files/sample-02.tex">sample-02.tex</a>
        </code>
        Stejně tak si můžete dokument přeložit a prohlédnout na
        <a href="https://www.overleaf.com/read/pdbjcwywgdxk">službě
        Overleaf</a>.
    </p>
    <p>
        Třída <tt>article</tt> dále poskytuje prostředí <tt>\begin{abstract} ... \end{abstract}</tt>,
        do kterého můžeme zadat abstrakt článku:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-03.tex | sed 's/<div class="highlight"/<div class="ukazka_kodu"/' -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_c">% Třída dokumentu</span>
<span class="lineno"> 2 </span><span class="pygments_k">\documentclass</span><span class="pygments_na">[a4paper]</span><span class="pygments_nb">{</span>article<span class="pygments_nb">}</span>
<span class="lineno"> 3 </span><span class="pygments_c">% Hlavička dokumentu</span>
<span class="lineno"> 4 </span><span class="pygments_c">%% Balíčky</span>
<span class="lineno"> 5 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[czech]</span><span class="pygments_nb">{</span>babel<span class="pygments_nb">}</span>
<span class="lineno"> 6 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[T1]</span><span class="pygments_nb">{</span>fontenc<span class="pygments_nb">}</span>
<span class="lineno"> 7 </span><span class="pygments_c">%% Metadata</span>
<span class="lineno"> 8 </span><span class="pygments_k">\title</span><span class="pygments_nb">{</span>Značkování textu v <span class="pygments_k">\LaTeX</span> u<span class="pygments_nb">}</span>
<span class="lineno"> 9 </span><span class="pygments_k">\author</span><span class="pygments_nb">{</span>Vít Starý Novotný<span class="pygments_nb">}</span>
<span class="lineno">10 </span><span class="pygments_k">\date</span><span class="pygments_nb">{</span>29. září 2023<span class="pygments_nb">}</span>
<span class="lineno">11 </span><span class="pygments_c">% Tělo dokumentu</span>
<span class="lineno">12 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
<span class="lineno">13 </span><span class="pygments_k">\maketitle</span>
<span class="lineno">14 </span>
<span class="lineno">15 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>abstract<span class="pygments_nb">}</span>
<span class="lineno">16 </span>V tomto článku si ukážeme, jak můžeme v <span class="pygments_k">\LaTeX</span> u vyznačit strukturu dokumentu.
<span class="lineno">17 </span>Po přečtení zdrojového kódu článku bude čtenář schopný připravovat vlastní
<span class="lineno">18 </span>dokumenty v <span class="pygments_k">\LaTeX</span> u.
<span class="lineno">19 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>abstract<span class="pygments_nb">}</span>
<span class="lineno">20 </span>
<span class="lineno">21 </span>Toto je minimální <span class="pygments_k">\LaTeX</span> ový dokument.
<span class="lineno">22 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
</pre></div>
    <p>
        Dokument si můžete na příkazovém řádku přeložit následujícím příkazem:
        <code class="ukazka_kodu">
            pdflatex <a href="files/sample-03.tex">sample-03.tex</a>
        </code>
        Stejně tak si můžete dokument přeložit a prohlédnout na
        <a href="https://www.overleaf.com/read/nhmfvyhnybqf">službě
        Overleaf</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="cleneni-textu">
            Členění textu na odstavce a sekce
        </span>
    </h2>
    <p>
        Odstavce textu oddělujeme jedním a více prázdnými řádky:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-04.tex | sed 's/<div class="highlight"/<div class="ukazka_kodu"/' -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_c">% Třída dokumentu</span>
<span class="lineno"> 2 </span><span class="pygments_k">\documentclass</span><span class="pygments_na">[a4paper]</span><span class="pygments_nb">{</span>article<span class="pygments_nb">}</span>
<span class="lineno"> 3 </span><span class="pygments_c">% Hlavička dokumentu</span>
<span class="lineno"> 4 </span><span class="pygments_c">%% Balíčky</span>
<span class="lineno"> 5 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[czech]</span><span class="pygments_nb">{</span>babel<span class="pygments_nb">}</span>
<span class="lineno"> 6 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[T1]</span><span class="pygments_nb">{</span>fontenc<span class="pygments_nb">}</span>
<span class="lineno"> 7 </span><span class="pygments_c">%% Metadata</span>
<span class="lineno"> 8 </span><span class="pygments_k">\title</span><span class="pygments_nb">{</span>Značkování textu v <span class="pygments_k">\LaTeX</span> u<span class="pygments_nb">}</span>
<span class="lineno"> 9 </span><span class="pygments_k">\author</span><span class="pygments_nb">{</span>Vít Starý Novotný<span class="pygments_nb">}</span>
<span class="lineno">10 </span><span class="pygments_k">\date</span><span class="pygments_nb">{</span>29. září 2023<span class="pygments_nb">}</span>
<span class="lineno">11 </span><span class="pygments_c">% Tělo dokumentu</span>
<span class="lineno">12 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
<span class="lineno">13 </span><span class="pygments_k">\maketitle</span>
<span class="lineno">14 </span>
<span class="lineno">15 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>abstract<span class="pygments_nb">}</span>
<span class="lineno">16 </span>V tomto článku si ukážeme, jak můžeme v <span class="pygments_k">\LaTeX</span> u vyznačit strukturu dokumentu.
<span class="lineno">17 </span>Po přečtení zdrojového kódu článku bude čtenář schopný připravovat vlastní
<span class="lineno">18 </span>dokumenty v <span class="pygments_k">\LaTeX</span> u.
<span class="lineno">19 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>abstract<span class="pygments_nb">}</span>
<span class="lineno">20 </span>
<span class="lineno">21 </span>Toto je minimální <span class="pygments_k">\LaTeX</span> ový dokument. Tento dokument sestává z několika odstavců.
<span class="lineno">22 </span>
<span class="lineno">23 </span>Odstavec obsahuje jednu nebo více vět, které mají tvořit určitý logický celek.
<span class="lineno">24 </span>Programátoři často dělí programy do samostatných modulů, které řeší jednu úlohu
<span class="lineno">25 </span>a jsou minimálně závislé na ostatních modulech. Podobně můžeme přemýšlet o odstavcích,
<span class="lineno">26 </span>které by měly být samoobsažné a pochopitelné i bez odkazů na okolní odstavce.
<span class="lineno">27 </span>
<span class="lineno">28 </span>
<span class="lineno">29 </span>Toto je další odstavec, který je oddělený od předchozího odstavce dvěma prázdnými řádky.
<span class="lineno">30 </span>
<span class="lineno">31 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
</pre></div>
    <p>
        Dokument si můžete na příkazovém řádku přeložit následujícím příkazem:
        <code class="ukazka_kodu">
            pdflatex <a href="files/sample-04.tex">sample-04.tex</a>
        </code>
        Stejně tak si můžete dokument přeložit a prohlédnout na
        <a href="https://www.overleaf.com/read/wtthxqghfpms">službě
        Overleaf</a>.
    </p>
    <p>
        Odstavce textu členíme do sekcí a podsekcí příkazy <tt>\section</tt> a
        <tt>\subsection</tt>. Automaticky vygenerovaný obsah dokumentu
        vysázíme příkazem <tt>\tableofcontents</tt>:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-05.tex | sed 's/<div class="highlight"/<div class="ukazka_kodu"/' -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_c">% Třída dokumentu</span>
<span class="lineno"> 2 </span><span class="pygments_k">\documentclass</span><span class="pygments_na">[a4paper]</span><span class="pygments_nb">{</span>article<span class="pygments_nb">}</span>
<span class="lineno"> 3 </span><span class="pygments_c">% Hlavička dokumentu</span>
<span class="lineno"> 4 </span><span class="pygments_c">%% Balíčky</span>
<span class="lineno"> 5 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[czech]</span><span class="pygments_nb">{</span>babel<span class="pygments_nb">}</span>
<span class="lineno"> 6 </span><span class="pygments_k">\usepackage</span><span class="pygments_na">[T1]</span><span class="pygments_nb">{</span>fontenc<span class="pygments_nb">}</span>
<span class="lineno"> 7 </span><span class="pygments_c">%% Metadata</span>
<span class="lineno"> 8 </span><span class="pygments_k">\title</span><span class="pygments_nb">{</span>Značkování textu v <span class="pygments_k">\LaTeX</span> u<span class="pygments_nb">}</span>
<span class="lineno"> 9 </span><span class="pygments_k">\author</span><span class="pygments_nb">{</span>Vít Starý Novotný<span class="pygments_nb">}</span>
<span class="lineno">10 </span><span class="pygments_k">\date</span><span class="pygments_nb">{</span>29. září 2023<span class="pygments_nb">}</span>
<span class="lineno">11 </span><span class="pygments_c">% Tělo dokumentu</span>
<span class="lineno">12 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
<span class="lineno">13 </span><span class="pygments_k">\maketitle</span>
<span class="lineno">14 </span>
<span class="lineno">15 </span><span class="pygments_k">\begin</span><span class="pygments_nb">{</span>abstract<span class="pygments_nb">}</span>
<span class="lineno">16 </span>V tomto článku si ukážeme, jak můžeme v <span class="pygments_k">\LaTeX</span> u vyznačit strukturu dokumentu.
<span class="lineno">17 </span>Po přečtení zdrojového kódu článku bude čtenář schopný připravovat vlastní
<span class="lineno">18 </span>dokumenty v <span class="pygments_k">\LaTeX</span> u.
<span class="lineno">19 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>abstract<span class="pygments_nb">}</span>
<span class="lineno">20 </span>
<span class="lineno">21 </span>Toto je minimální <span class="pygments_k">\LaTeX</span> ový dokument. Tento dokument sestává z několika odstavců.
<span class="lineno">22 </span>
<span class="lineno">23 </span>Odstavec obsahuje jednu nebo více vět, které mají tvořit určitý logický celek.
<span class="lineno">24 </span>Programátoři často dělí programy do samostatných modulů, které řeší jednu úlohu
<span class="lineno">25 </span>a jsou minimálně závislé na ostatních modulech. Podobně můžeme přemýšlet o odstavcích,
<span class="lineno">26 </span>které by měly být samoobsažné a pochopitelné i bez odkazů na okolní odstavce.
<span class="lineno">27 </span>
<span class="lineno">28 </span>
<span class="lineno">29 </span>Toto je další odstavec, který je oddělený od předchozího odstavce dvěma prázdnými řádky.
<span class="lineno">30 </span>
<span class="lineno">31 </span><span class="pygments_k">\tableofcontents</span>
<span class="lineno">32 </span>
<span class="lineno">33 </span><span class="pygments_k">\section</span><span class="pygments_nb">{</span>Členění dokumentu<span class="pygments_nb">}</span>
<span class="lineno">34 </span>
<span class="lineno">35 </span>Odstavce členíme do sekcí a podsekcí. Každá sekce by měla být uvozena alespoň jedním
<span class="lineno">36 </span>odstavcem textu, který čtenáře seznámí s jejím obsahem. Nadpis sekce, po kterém okamžitě
<span class="lineno">37 </span>následuje nadpis podsekce se považuje za chybu.
<span class="lineno">38 </span>
<span class="lineno">39 </span>V této sekci si vytvoříme dvě podsekce pro ilustraci členění dokumentu.
<span class="lineno">40 </span>
<span class="lineno">41 </span><span class="pygments_k">\subsection</span><span class="pygments_nb">{</span>První podsekce<span class="pygments_nb">}</span>
<span class="lineno">42 </span>
<span class="lineno">43 </span>Nadpisy (pod)sekcí udávají strukturu textu, ale nejsou přímou součástí textu.
<span class="lineno">44 </span>Porozumění textu by tedy nemělo záviset na nadpisech. Formulace ,,v této sekci se
<span class="lineno">45 </span>budeme zaobírat tématem z nadpisu sekce`` a podobné se považují za chybu.
<span class="lineno">46 </span>
<span class="lineno">47 </span>Toto je první podsekce našeho dokumentu.
<span class="lineno">48 </span>
<span class="lineno">49 </span><span class="pygments_k">\subsection</span><span class="pygments_nb">{</span>Druhá podsekce<span class="pygments_nb">}</span>
<span class="lineno">50 </span>
<span class="lineno">51 </span>Toto je druhá podsekce našeho dokumentu.
<span class="lineno">52 </span>
<span class="lineno">53 </span><span class="pygments_k">\end</span><span class="pygments_nb">{</span>document<span class="pygments_nb">}</span>
</pre></div>
    <p>
        Různé dokumentové třídy podporují různé typy sekcí. Např. vestavěná třída
        <a href="https://ctan.org/pkg/book"><tt>book</tt></a> pro psaní knih
        umožňuje členit dokument na části a kapitoly.
    </p>
    <p>
        Dokument si můžete na příkazovém řádku přeložit následujícími příkazy:
        <code class="ukazka_kodu">
            pdflatex <a href="files/sample-05.tex">sample-05.tex</a><br />
            pdflatex <a href="files/sample-05.tex">sample-05.tex</a>
        </code>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Pozor:</strong>
            Všimněte si, že při vložení automaticky vygenerovaného obsahu příkazem
            <tt>\tableofcontents</tt> musíme dokument přeložit dvakrát: Při prvním
            překladu si LaTeX uloží informace o sekcích do pomocného souboru
            <tt>sample-05.aux</tt> a při druhém překladu se tyto informace použijí při
            generování obsahu dokumentu.
        </p>
        <p>
            Jak se vyhnout ručnímu opakovanému překladu
            dokumentu si ukážeme na <a href="../automatizace-sazby">cvičení o
            automatizaci sazby dokumentu</a>.
        </p>
    </div>
    <p>
        Stejně tak si můžete dokument přeložit a prohlédnout na
        <a href="https://www.overleaf.com/read/wcyqhfxgvgwh">službě
        Overleaf</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            <p>
                Stáhněte si dokument <a href="files/formatovani-textu.tex"><tt>formatovani-textu.tex</tt></a>
                (dostupný také <a href="https://www.overleaf.com/read/tsbpvwqxqyfs">na službě Overleaf</a>)
                s nerozčleněným textem. Přečtěte si text, zamyslete se nad jeho strukturou, doplňte do něj
                metadata a rozčleňte ho na věty, odstavce a sekce.
            </p>
            <p>
                Výsledný dokument vysázejte a porovnejte vůči
                <a href="https://cs.wikipedia.org/wiki/Formátování_textu">zdrojovému článku na české Wikipedii</a>.
                Je v pořádku, pokud jste text členili odlišně od zdrojového dokumentu; členění textu je kreativní
                činnost a stejný text lze členit mnoha různými způsoby.
            </p>
        </li>
        <li>
            <p>
                Při přípravě textu v LaTeXu se nemusíte omezovat na značky LaTeXu. Namísto toho můžete použít
                např. odlehčený značkovací jazyk Markdown, který pro vás může být snáze zapisovatelný a čitelný.
            </p>
            <p>
                Přidejte do hlavičky dokumentu <tt>formatovani-textu.tex</tt>
                z předchozího úkolu balíček
                <a href="https://github.com/witiko/markdown#markdown"><tt>markdown</tt></a> a přeznačte text
                dokumentu pomocí jazyka Markdown.
            </p>
            <p>
                Při překladu dokumentu z příkazového řádku doplňte volbu <tt>-shell-escape</tt>:
                <code class="ukazka_kodu">
                    pdflatex -shell-escape formatovani-textu.tex
                </code>
                Při překladu na službě Overleaf nemusíte pro správný překlad dokumentu dělat žádné změny.
            </p>
            <p>
                Pro další značkovací jazyky, které můžete používat při přípravě dokumentu v (La)TeXu,
                vizte sekci 3 článku <a href="http://dx.doi.org/10.5300/2022-1-4/35"><em>Vysokoúrovňové jazyky pro TeX</em></a>.
            </p>
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
